<form action="#" method="post" class="inline-form newsletter-form">           
    <fieldset>
	    <legend>Sign up for our newsletter</legend>
	    <label for="newsletter-field" class="is-vishidden">Email address</label>
	    <div class="inline-container">
	   		<input type="newsletter" placeholder="E-mail address" id="newsletter-field" class="newsletter-field" />
	    	<button class="newsletter-submit">Sign Up</button>
		</div>
    </fieldset>
</form>