<form action="#" method="post" class="inline-form find-help">           
    <fieldset>
	    <legend>Find help near you</legend>
	    <label for="help-field" class="is-vishidden">Email address</label>
	    <div class="inline-container">
	   		<input type="newsletter" placeholder="Enter your neighborhood or zip code" id="help-field" class="help-field" />
	    	<button class="newsletter-submit">Search</button>
		</div>
    </fieldset>
</form>