&lt;p class=&quot;error&quot;&gt;This is what error text looks like&lt;/p&gt;
&lt;p class=&quot;valid&quot;&gt;This is what valid text looks like&lt;/p&gt;
&lt;p class=&quot;warning&quot;&gt;This is what warning text looks like&lt;/p&gt;
&lt;p class=&quot;information&quot;&gt;This is what information text looks like.&lt;/p&gt;