	<script src="../../js/jquery.js"></script>
	<script src="../../js/jquery.mobile.custom.js"></script>
	<script src="../../js/parsley.js"></script>
	<script src="../../js/init.js"></script>

	<!--DO NOT REMOVE-->
	{% pattern-lab-foot %}

	</body>
</html>