	<script src="../../js/jquery.js"></script>
	<script src="../../js/luminateExtend.js"></script>
	<script src="../../js/production.min.js"></script>
	
	<script src="../../js/recipe-rainbow.js"></script>

	<!--DO NOT REMOVE-->
	{% pattern-lab-foot %}

	</body>
</html>