&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		&lt;div class=&quot;l-1col&quot;&gt;
			&lt;div class=&quot;lc&quot;&gt;
				{{&gt; molecules-page-header }}
			&lt;/div&gt;
			&lt;div class=&quot;l-main&quot;&gt;
				&lt;div class=&quot;fpo&quot;&gt;Emergency food information&lt;/div&gt;
				&lt;div class=&quot;fpo&quot;&gt;Address (link to directions), phone number, fax, email&lt;/div&gt;
				&lt;div class=&quot;fpo&quot;&gt;Donate number and link&lt;/div&gt;
				&lt;div class=&quot;fpo&quot;&gt;Phone directory&lt;/div&gt;
				&lt;div class=&quot;fpo&quot;&gt;Directions&lt;/div&gt;
			&lt;/div&gt;&lt;!--end .l-main--&gt;
		&lt;/div&gt;&lt;!--end .l-1col--&gt;
		
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;