/.DS_Store
/public/*
/public/.DS_Store
/public/css/.DS_Store
/public/latest-change.txt

.DS_Store

/config.codekit


/public/css/style.css
/public/index.html
/public/patterns/00-atoms-01-global-00-colors/00-atoms-01-global-00-colors.html
/public/patterns/00-atoms-01-global-01-fonts/00-atoms-01-global-01-fonts.html
/public/patterns/00-atoms-01-global-02-animations/00-atoms-01-global-02-animations.html
/public/patterns/00-atoms-01-global-03-visibility/00-atoms-01-global-03-visibility.html
/public/patterns/00-atoms-01-global/index.html
/public/patterns/00-atoms-01-text-00-headings/00-atoms-01-text-00-headings.html
/public/patterns/00-atoms-01-text-01-subheadings/00-atoms-01-text-01-subheadings.html
/public/patterns/00-atoms-01-text-02-headings-with-links/00-atoms-01-text-02-headings-with-links.html
/public/patterns/00-atoms-01-text-03-paragraph/00-atoms-01-text-03-paragraph.html
/public/patterns/00-atoms-01-text-04-blockquote/00-atoms-01-text-04-blockquote.html
/public/patterns/00-atoms-01-text-05-inline-elements/00-atoms-01-text-05-inline-elements.html
/public/patterns/00-atoms-01-text-06-time/00-atoms-01-text-06-time.html
/public/patterns/00-atoms-01-text-07-preformatted-text/00-atoms-01-text-07-preformatted-text.html
/public/patterns/00-atoms-01-text-08-emphasis-colors/00-atoms-01-text-08-emphasis-colors.html
/public/patterns/00-atoms-01-text-09-hr/00-atoms-01-text-09-hr.html
/public/patterns/00-atoms-01-text-10-caption/00-atoms-01-text-10-caption.html
/public/patterns/00-atoms-01-text/index.html
/public/patterns/00-atoms-02-lists-00-unordered/00-atoms-02-lists-00-unordered.html
/public/patterns/00-atoms-02-lists-01-ordered/00-atoms-02-lists-01-ordered.html
/public/patterns/00-atoms-02-lists-02-definition/00-atoms-02-lists-02-definition.html
/public/patterns/00-atoms-02-lists/index.html
/public/patterns/00-atoms-03-images-00-logo/00-atoms-03-images-00-logo.html
/public/patterns/00-atoms-03-images-01-landscape-4x3/00-atoms-03-images-01-landscape-4x3.html
/public/patterns/00-atoms-03-images-03-hero/00-atoms-03-images-03-hero.html
/public/patterns/00-atoms-03-images-03-square/00-atoms-03-images-03-square.html
/public/patterns/00-atoms-03-images-04-avatar/00-atoms-03-images-04-avatar.html
/public/patterns/00-atoms-03-images-04-thumb/00-atoms-03-images-04-thumb.html
/public/patterns/00-atoms-03-images-05-icons/00-atoms-03-images-05-icons.html
/public/patterns/00-atoms-03-images-06-loading-icon/00-atoms-03-images-06-loading-icon.html
/public/patterns/00-atoms-03-images-07-favicon/00-atoms-03-images-07-favicon.html
/public/patterns/00-atoms-03-images/index.html
/public/patterns/00-atoms-04-forms-00-text-fields/00-atoms-04-forms-00-text-fields.html
/public/patterns/00-atoms-04-forms-01-select-menu/00-atoms-04-forms-01-select-menu.html
/public/patterns/00-atoms-04-forms-02-checkbox/00-atoms-04-forms-02-checkbox.html
/public/patterns/00-atoms-04-forms-03-radio-buttons/00-atoms-04-forms-03-radio-buttons.html
/public/patterns/00-atoms-04-forms-04-html5-inputs/00-atoms-04-forms-04-html5-inputs.html
/public/patterns/00-atoms-04-forms/index.html
/public/patterns/00-atoms-05-buttons-00-buttons/00-atoms-05-buttons-00-buttons.html
/public/patterns/00-atoms-05-buttons/index.html
/public/patterns/00-atoms-06-tables-00-table/00-atoms-06-tables-00-table.html
/public/patterns/00-atoms-06-tables/index.html
/public/patterns/01-molecules-00-text-00-byline-author-only/01-molecules-00-text-00-byline-author-only.html
/public/patterns/01-molecules-00-text-01-page-header/01-molecules-00-text-01-page-header.html
/public/patterns/01-molecules-00-text-02-address/01-molecules-00-text-02-address.html
/public/patterns/01-molecules-00-text-03-heading-group/01-molecules-00-text-03-heading-group.html
/public/patterns/01-molecules-00-text-04-blockquote-with-citation/01-molecules-00-text-04-blockquote-with-citation.html
/public/patterns/01-molecules-00-text-05-intro-text/01-molecules-00-text-05-intro-text.html
/public/patterns/01-molecules-00-text-06-pullquote/01-molecules-00-text-06-pullquote.html
/public/patterns/01-molecules-00-text-07-well/01-molecules-00-text-07-well.html
/public/patterns/01-molecules-00-text/index.html
/public/patterns/01-molecules-01-layout-00-one-up/01-molecules-01-layout-00-one-up.html
/public/patterns/01-molecules-01-layout-01-two-up/01-molecules-01-layout-01-two-up.html
/public/patterns/01-molecules-01-layout-02-three-up/01-molecules-01-layout-02-three-up.html
/public/patterns/01-molecules-01-layout-03-four-up/01-molecules-01-layout-03-four-up.html
/public/patterns/01-molecules-01-layout-04-3-column-layout/01-molecules-01-layout-04-3-column-layout.html
/public/patterns/01-molecules-01-layout-05-1-column-layout/01-molecules-01-layout-05-1-column-layout.html
/public/patterns/01-molecules-01-layout/index.html
/public/patterns/01-molecules-02-blocks-00-media-block/01-molecules-02-blocks-00-media-block.html
/public/patterns/01-molecules-02-blocks-01-block-title-timestamp/01-molecules-02-blocks-01-block-title-timestamp.html
/public/patterns/01-molecules-02-blocks-03-block-thumb-portrait-title/01-molecules-02-blocks-03-block-thumb-portrait-title.html
/public/patterns/01-molecules-02-blocks-03-block-thumb-title/01-molecules-02-blocks-03-block-thumb-title.html
/public/patterns/01-molecules-02-blocks-04-block-thumb-title-excerpt/01-molecules-02-blocks-04-block-thumb-title-excerpt.html
/public/patterns/01-molecules-02-blocks-04-block-title/01-molecules-02-blocks-04-block-title.html
/public/patterns/01-molecules-02-blocks-05-block-title-excerpt/01-molecules-02-blocks-05-block-title-excerpt.html
/public/patterns/01-molecules-02-blocks-06-block-post/01-molecules-02-blocks-06-block-post.html
/public/patterns/01-molecules-02-blocks/index.html
/public/patterns/01-molecules-03-media-00-figure-with-caption/01-molecules-03-media-00-figure-with-caption.html
/public/patterns/01-molecules-03-media/index.html
/public/patterns/01-molecules-04-forms-00-search/01-molecules-04-forms-00-search.html
/public/patterns/01-molecules-04-forms-02-newsletter/01-molecules-04-forms-02-newsletter.html
/public/patterns/01-molecules-04-forms-03-find-help/01-molecules-04-forms-03-find-help.html
/public/patterns/01-molecules-04-forms/index.html
/public/patterns/01-molecules-05-navigation-00-primary-nav/01-molecules-05-navigation-00-primary-nav.html
/public/patterns/01-molecules-05-navigation-01-footer-nav/01-molecules-05-navigation-01-footer-nav.html
/public/patterns/01-molecules-05-navigation-02-breadcrumbs/01-molecules-05-navigation-02-breadcrumbs.html
/public/patterns/01-molecules-05-navigation-03-pagination/01-molecules-05-navigation-03-pagination.html
/public/patterns/01-molecules-05-navigation-04-tabs/01-molecules-05-navigation-04-tabs.html
/public/patterns/01-molecules-05-navigation-05-section-nav/01-molecules-05-navigation-05-section-nav.html
/public/patterns/01-molecules-05-navigation-05-social-nav/01-molecules-05-navigation-05-social-nav.html
/public/patterns/01-molecules-05-navigation/index.html
/public/patterns/01-molecules-06-components-00-social-share/01-molecules-06-components-00-social-share.html
/public/patterns/01-molecules-06-components-01-accordion/01-molecules-06-components-01-accordion.html
/public/patterns/01-molecules-06-components-02-single-comment/01-molecules-06-components-02-single-comment.html
/public/patterns/01-molecules-06-components/index.html
/public/patterns/01-molecules-07-hero-00-hero/01-molecules-07-hero-00-hero.html
/public/patterns/01-molecules-07-hero-02-hero-page-header/01-molecules-07-hero-02-hero-page-header.html
/public/patterns/01-molecules-07-hero/index.html
/public/patterns/01-molecules-08-buttons-00-button/01-molecules-08-buttons-00-button.html
/public/patterns/01-molecules-08-buttons/index.html
/public/patterns/01-molecules-09-banners-00-hero-text-banner/01-molecules-09-banners-00-hero-text-banner.html
/public/patterns/01-molecules-09-banners-01-cta-banner/01-molecules-09-banners-01-cta-banner.html
/public/patterns/01-molecules-09-banners/index.html
/public/patterns/02-organisms-00-global-00-header/02-organisms-00-global-00-header.html
/public/patterns/02-organisms-00-global-01-footer/02-organisms-00-global-01-footer.html
/public/patterns/02-organisms-00-global/index.html
/public/patterns/02-organisms-01-text-00-text-passage/02-organisms-01-text-00-text-passage.html
/public/patterns/02-organisms-01-text/index.html
/public/patterns/02-organisms-03-components-00-donate/02-organisms-03-components-00-donate.html
/public/patterns/02-organisms-03-components/index.html
/public/patterns/02-organisms-04-sections-00-split/02-organisms-04-sections-00-split.html
/public/patterns/02-organisms-04-sections-01-section-img-headline-list/02-organisms-04-sections-01-section-img-headline-list.html
/public/patterns/02-organisms-04-sections-02-sidebar-post-list/02-organisms-04-sections-02-sidebar-post-list.html
/public/patterns/02-organisms-04-sections-03-sidebar-event-list/02-organisms-04-sections-03-sidebar-event-list.html
/public/patterns/02-organisms-04-sections-04-sidebar-text-list/02-organisms-04-sections-04-sidebar-text-list.html
/public/patterns/02-organisms-04-sections/index.html
/public/patterns/02-organisms-05-hero-00-hero-page-header-form/02-organisms-05-hero-00-hero-page-header-form.html
/public/patterns/02-organisms-05-hero/index.html
/public/patterns/03-templates-00-homepage/03-templates-00-homepage.html
/public/patterns/03-templates-01-get-help/03-templates-01-get-help.html
/public/patterns/03-templates-02-get-help-directory/03-templates-02-get-help-directory.html
/public/patterns/03-templates-02-program-landing/03-templates-02-program-landing.html
/public/patterns/03-templates-03-program-detail/03-templates-03-program-detail.html
/public/patterns/03-templates-04-about-landing/03-templates-04-about-landing.html
/public/patterns/03-templates-05-about-history/03-templates-05-about-history.escaped.html
/public/patterns/03-templates-05-about-history/03-templates-05-about-history.html
/public/patterns/03-templates-05-about-history/03-templates-05-about-history.mustache
/public/patterns/03-templates-05-about-operations/03-templates-05-about-operations.html
/public/patterns/03-templates-06-about-management/03-templates-06-about-management.html
/public/patterns/03-templates-07-about-agencies/03-templates-07-about-agencies.html
/public/patterns/03-templates-08-about-donors/03-templates-08-about-donors.html
/public/patterns/03-templates-09-about-fundraising-policy/03-templates-09-about-fundraising-policy.html
/public/patterns/03-templates-10-about-finances/03-templates-10-about-finances.html
/public/patterns/03-templates-10-about-jobs-landing/03-templates-10-about-jobs-landing.html
/public/patterns/03-templates-10-about-press/03-templates-10-about-press.html
/public/patterns/03-templates-11-about-jobs-detail/03-templates-11-about-jobs-detail.html
/public/patterns/03-templates-11-events-landing/03-templates-11-events-landing.html
/public/patterns/03-templates-12-events-detail/03-templates-12-events-detail.html
/public/patterns/03-templates-13-donate/03-templates-13-donate.html
/public/patterns/03-templates-13-get-involved-landing/03-templates-13-get-involved-landing.html
/public/patterns/03-templates-14-get-involved-volunteer/03-templates-14-get-involved-volunteer.html
/public/patterns/03-templates-15-get-involved-volunteer-repack/03-templates-15-get-involved-volunteer-repack.html
/public/patterns/03-templates-16-get-involved-advocacy/03-templates-16-get-involved-advocacy.html
/public/patterns/03-templates-17-get-involved-kids/03-templates-17-get-involved-kids.html
/public/patterns/03-templates-18-get-involved-kids-join/03-templates-18-get-involved-kids-join.html
/public/patterns/03-templates-19-resources-landing/03-templates-19-resources-landing.html
/public/patterns/03-templates-20-resources-detail/03-templates-20-resources-detail.html
/public/patterns/03-templates-20-resources-faq/03-templates-20-resources-faq.html
/public/patterns/03-templates-21-blog-landing/03-templates-21-blog-landing.html
/public/patterns/03-templates-22-blog-post/03-templates-22-blog-post.html
/public/patterns/03-templates-22-contact/03-templates-22-contact.html
/public/patterns/03-templates-98-search-results/03-templates-98-search-results.html
/public/patterns/04-pages-00-home-00-homepage/04-pages-00-home-00-homepage.html
/public/patterns/04-pages-00-home-01-homepage-hero/04-pages-00-home-01-homepage-hero.html
/public/patterns/04-pages-00-home/index.html
/public/patterns/04-pages-01-get-help-00-get-help/04-pages-01-get-help-00-get-help.html
/public/patterns/04-pages-01-get-help-01-get-help-directory/04-pages-01-get-help-01-get-help-directory.html
/public/patterns/04-pages-01-get-help/index.html
/public/patterns/04-pages-02-programs-00-program-landing/04-pages-02-programs-00-program-landing.html
/public/patterns/04-pages-02-programs-01-program-detail/04-pages-02-programs-01-program-detail.html
/public/patterns/04-pages-02-programs/index.html
/public/patterns/04-pages-03-about-00-about-landing/04-pages-03-about-00-about-landing.html
/public/patterns/04-pages-03-about-02-about-management/04-pages-03-about-02-about-management.html
/public/patterns/04-pages-03-about-03-about-jobs-landing/04-pages-03-about-03-about-jobs-landing.html
/public/patterns/04-pages-03-about-04-about-jobs-detail/04-pages-03-about-04-about-jobs-detail.html
/public/patterns/04-pages-03-about-05-about-history/04-pages-03-about-05-about-history.escaped.html
/public/patterns/04-pages-03-about-05-about-history/04-pages-03-about-05-about-history.html
/public/patterns/04-pages-03-about-06-about-donors/04-pages-03-about-06-about-donors.html
/public/patterns/04-pages-03-about-07-about-finances/04-pages-03-about-07-about-finances.html
/public/patterns/04-pages-03-about-08-about-fundraising-policy/04-pages-03-about-08-about-fundraising-policy.html
/public/patterns/04-pages-03-about-09-about-press/04-pages-03-about-09-about-press.html
/public/patterns/04-pages-03-about/index.html
/public/patterns/04-pages-04-events-00-events-landing/04-pages-04-events-00-events-landing.html
/public/patterns/04-pages-04-events-01-events-detail/04-pages-04-events-01-events-detail.html
/public/patterns/04-pages-04-events/index.html
/public/patterns/04-pages-05-donate-00-donate/04-pages-05-donate-00-donate.html
/public/patterns/04-pages-05-donate/index.html
/public/patterns/04-pages-06-get-involved-00-get-involved-landing/04-pages-06-get-involved-00-get-involved-landing.html
/public/patterns/04-pages-06-get-involved-01-get-involved-volunteer/04-pages-06-get-involved-01-get-involved-volunteer.html
/public/patterns/04-pages-06-get-involved-02-get-involved-repack/04-pages-06-get-involved-02-get-involved-repack.html
/public/patterns/04-pages-06-get-involved-03-get-involved-advocacy/04-pages-06-get-involved-03-get-involved-advocacy.html
/public/patterns/04-pages-06-get-involved-04-get-involved-kids/04-pages-06-get-involved-04-get-involved-kids.html
/public/patterns/04-pages-06-get-involved-05-get-involved-kids-join/04-pages-06-get-involved-05-get-involved-kids-join.html
/public/patterns/04-pages-06-get-involved/index.html
/public/patterns/04-pages-07-resources-00-resources-landing/04-pages-07-resources-00-resources-landing.html
/public/patterns/04-pages-07-resources-01-resources-faq/04-pages-07-resources-01-resources-faq.html
/public/patterns/04-pages-07-resources-02-resources-detail/04-pages-07-resources-02-resources-detail.html
/public/patterns/04-pages-07-resources/index.html
/public/patterns/04-pages-08-blog-00-blog-landing/04-pages-08-blog-00-blog-landing.html
/public/patterns/04-pages-08-blog-01-blog-post/04-pages-08-blog-01-blog-post.html
/public/patterns/04-pages-08-blog/index.html
/public/patterns/04-pages-09-contact-00-contact/04-pages-09-contact-00-contact.html
/public/patterns/04-pages-09-contact/index.html
/public/patterns/04-pages-10-other-00-search-results/04-pages-10-other-00-search-results.html
/public/patterns/04-pages-10-other-01-404/04-pages-10-other-01-404.html
/public/patterns/04-pages-10-other-02-privacy-policy/04-pages-10-other-02-privacy-policy.html
/public/patterns/04-pages-10-other/index.html
/public/styleguide/html/styleguide.html

/public/patterns/03-templates-10-about-press/03-templates-10-about-press.escaped.html
/public/patterns/03-templates-10-about-press/03-templates-10-about-press.mustache
/public/patterns/04-pages-03-about-09-about-press/04-pages-03-about-09-about-press.escaped.html
