<div class="donate-slider">
	<div class="lc">
		<h2>Donate to the Greater Pittsburgh Community Food Bank</h2>
		<form method="post" action="#" class="donate-form">
			<div class="">
				<div class="field-container donate-range-container">
					<label for="donate-range">Choose an amount to donate:</label>
					<input type="number" data-type="range" class="donate-range ui-slider-input" id="donate-range" value="1" min="1" max="100" />
					<div class="donate-slider-message">Every dollar helps. 96% of donated money goes directly to feeding the hungry.</div>
				</div>
				<button class="donate-submit btn">Donate</button>
			</div>
		</form>
		
	</div><!-- end .lc-->
</div><!-- end .donate-slider-->