{{# donate }}
<div class="donate">
	<div class="lc">
		<h2>Donate to the Greater Pittsburgh Community Food Bank</h2>
		<div class="donate-messaging-text">
			<p>Over 92,000 children in southwestern Pennsylvania don't have enough food to live a normal, healthy life. You can help fix this.</p>
		</div>
		<form method="post" action="#" class="donate-form">
				<fieldset class="donate-step donate-range-container" id="donate-step-1">
					<legend><span class="form-step">1</span> Choose an amount to donate:</legend>
					<div class="field-container">
						<label for="donate-range" class="field-instruction is-vishidden">Choose amount to donate</label>
						<input type="number" data-type="range" class="donate-range ui-slider-input" id="donate-range" value="1" min="1" max="100" />
						<div class="donate-slider-message">Every dollar helps. 96% of donated money goes directly to feeding the hungry.</div>
					</div>
					<div class="field-container checkbox-container">
						<input type="checkbox" id="donate-monthly" />
						<label for="donate-monthly">Yes, I would like to donate this amount monthly</label>
					</div>
					<a href="#donate-step-2" class="btn">Next Step</a>
				</fieldset><!--end .donate-step-->

				<fieldset class="donate-step" id="donate-step-2">
					<legend><span class="form-step">2</span> Enter your information:</legend>
					<div class="g g-2up">
						<div class="field-container gi">
							<label for="donate-name">Name</label>
							<input type="text" id="donate-name" placeholder="First Last" autocomplete="off" required />
						</div>
						<div class="field-container gi">
							<label for="donate-email">E-mail</label>
							<input type="email" id="donate-email" placeholder="your@email.com" required />
						</div>
						<div class="field-container gi">
							<label for="donate-address">Address</label>
							<input type="text" id="donate-address" placeholder="123 Main St" autocomplete="off" required />
						</div>
						<div class="field-container gi">
							<label for="donate-address-2">Address 2</label>
							<input type="text" id="donate-address-2" placeholder="Apt #, Suite, etc" autocomplete="off" required />
						</div>
						<div class="field-container gi">
							<label for="donate-city">City</label>
							<input type="text" id="donate-city" placeholder="Pittsburgh" autocomplete="off" required />
						</div>
						<div class="field-container gi">
							<label for="donate-state">State</label>
							<select id="donate-state" name="donate-state" required>
								<option value="AL">Alabama</option>
								<option value="AK">Alaska</option>
								<option value="AZ">Arizona</option>
								<option value="AR">Arkansas</option>
								<option value="CA">California</option>
								<option value="CO">Colorado</option>
								<option value="CT">Connecticut</option>
								<option value="DE">Delaware</option>
								<option value="DC">District of Columbia</option>
								<option value="FL">Florida</option>
								<option value="GA">Georgia</option>
								<option value="HI">Hawaii</option>
								<option value="ID">Idaho</option>
								<option value="IL">Illinois</option>
								<option value="IN">Indiana</option>
								<option value="IA">Iowa</option>
								<option value="KS">Kansas</option>
								<option value="KY">Kentucky</option>
								<option value="LA">Louisiana</option>
								<option value="ME">Maine</option>
								<option value="MD">Maryland</option>
								<option value="MA">Massachusetts</option>
								<option value="MI">Michigan</option>
								<option value="MN">Minnesota</option>
								<option value="MS">Mississippi</option>
								<option value="MO">Missouri</option>
								<option value="MT">Montana</option>
								<option value="NE">Nebraska</option>
								<option value="NV">Nevada</option>
								<option value="NH">New Hampshire</option>
								<option value="NJ">New Jersey</option>
								<option value="NM">New Mexico</option>
								<option value="NY">New York</option>
								<option value="NC">North Carolina</option>
								<option value="ND">North Dakota</option>
								<option value="OH">Ohio</option>
								<option value="OK">Oklahoma</option>
								<option value="OR">Oregon</option>
								<option value="PA" selected="selected">Pennsylvania</option>
								<option value="RI">Rhode Island</option>
								<option value="SC">South Carolina</option>
								<option value="SD">South Dakota</option>
								<option value="TN">Tennessee</option>
								<option value="TX">Texas</option>
								<option value="UT">Utah</option>
								<option value="VT">Vermont</option>
								<option value="VA">Virginia</option>
								<option value="WA">Washington</option>
								<option value="WV">West Virginia</option>
								<option value="WI">Wisconsin</option>
								<option value="WY">Wyoming</option>
							</select>
						</div>
					</div><!--end .g-2up-->
					<a href="#donate-step-3" class="btn">Next Step</a>
				</fieldset><!--end .donate-step-->

				<fieldset class="donate-step" id="donate-step-3">
					<legend><span class="form-step">3</span> Enter payment information:</legend>
					<div class="field-container radio-container">
						<input type="radio" name="payment-type" id="payment-cc" /><label for="payment-cc">Credit Card</label>
						<input type="radio" name="payment-type" id="payment-bank" /><label for="payment-bank">Bank Account</label>
					</div>
					<div class="field-container">
						<label for="payment-cc-num">Credit Card Number</label>
						<input type="number" pattern="[0-9]*" id="payment-cc-num" placeholder="Enter Credit Card Number" required />
					</div>
					<div class="field-container">
						<label for="payment-cc-num">CVV Number</label>
						<input type="number" pattern="[0-9]*" id="payment-cc-cvv" placeholder="123" required />
					</div>
					<div class="field-container">
						<label for="payment-cc-month">Expiration Month</label>
						<select id="payment-cc-month" required />
							<option value="00">Choose Month</option>
							<option value="01">01 - January</option>
						    <option value="02">02 - February</option>
						    <option value="03">03 - March</option>
						    <option value="04">04 - April</option>
						    <option value="05">05 - May</option>
						    <option value="06">06 - June</option>
						    <option value="07">07 - July</option>
						    <option value="08">08 - August</option>
						    <option value="09">09 - September</option>
						    <option value="10">10 - October</option>
						    <option value="11">11 - November</option>
						    <option value="12">12 - December</option>
						</select>
					</div>
					<div class="field-container">
						<label for="payment-cc-month">Expiration Year</label>
						<select id="payment-cc-month" required />
							<option value="00">Choose Year</option>
							<option value="2014">2014</option>
						    <option value="2015">2015</option>
						    <option value="2016">2016</option>
						    <option value="2017">2017</option>
						    <option value="2018">2018</option>
						    <option value="2019">2019</option>
						    <option value="2019">2020</option>
						</select>
					</div>
					<div class="message">
						Norton Secured, powered by VeriSign
					</div>
					<button class="donate-submit btn">Submit Donation</button>
				</fieldset><!--end .donate-step-->
		</form><!--end .donate-form-->
	</div><!-- end .lc-->
</div><!-- end .donate-slider-->
{{/ donate }}