{{# timeline }}
<ol class="timeline">
	{{#timelineList }}
	<li class="timeline-li">
		<h4 class="timeline-timestamp">{{ timestamp }}</h4>
		<p class="timeline-desc">{{ excerpt.short }}</p>
	</li>
	{{/ timelineList }}
</ol>
{{/ timeline }}