<table class="tribe-events-calendar" style="
    boder-radius: 10px;
">
	<thead style="
    border-radius: 10px;
">
		<tr style="
    border-radius: cale;
">
		
			<th id="tribe-events-monday" title="Monday" data-day-abbr="Mon">Monday</th>
		
			<th id="tribe-events-tuesday" title="Tuesday" data-day-abbr="Tue">Tuesday</th>
		
			<th id="tribe-events-wednesday" title="Wednesday" data-day-abbr="Wed">Wednesday</th>
		
			<th id="tribe-events-thursday" title="Thursday" data-day-abbr="Thu">Thursday</th>
		
			<th id="tribe-events-friday" title="Friday" data-day-abbr="Fri">Friday</th>
		
			<th id="tribe-events-saturday" title="Saturday" data-day-abbr="Sat">Saturday</th>
		
			<th id="tribe-events-sunday" title="Sunday" data-day-abbr="Sun">Sunday</th>
				</tr>
	</thead>
	<tbody class="hfeed vcalendar">
		<tr>
								<td class="tribe-events-othermonth">
				

			</td>
								<td class="tribe-events-othermonth">
				

			</td>
								<td class="tribe-events-othermonth">
				

			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-01" data-day="1">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-1">

					1		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-02 tribe-events-right" data-day="2">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-2">

					2		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-03 tribe-events-right" data-day="3">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-3">

					3		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-04 tribe-events-right" data-day="4">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-4">

					4		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
							</tr>
		<tr>
						<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-05" data-day="5">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-5">

					5		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-06" data-day="6">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-6">

					6		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-07" data-day="7">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-7">

					7		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-08" data-day="8">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-8">

					8		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-09 tribe-events-right" data-day="9">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-9">

					9		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-10 tribe-events-right" data-day="10">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-10">

					10		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-11 tribe-events-right" data-day="11">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-11">

					11		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
							</tr>
		<tr>
						<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-12" data-day="12">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-12">

					12		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-13" data-day="13">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-13">

					13		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-14" data-day="14">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-14">

					14		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-15" data-day="15">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-15">

					15		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-16 tribe-events-right" data-day="16">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-16">

					16		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-17 tribe-events-right" data-day="17">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-17">

					17		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-18 tribe-events-right" data-day="18">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-18">

					18		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
							</tr>
		<tr>
						<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-19" data-day="19">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-19">

					19		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-20" data-day="20">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-20">

					20		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-21" data-day="21">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-21">

					21		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-22" data-day="22">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-22">

					22		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-23 tribe-events-right" data-day="23">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-23">

					23		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-24 tribe-events-right" data-day="24">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-24">

					24		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-25 tribe-events-right" data-day="25">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-25">

					25		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
							</tr>
		<tr>
						<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-26" data-day="26">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-26">

					26		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-27" data-day="27">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-27">

					27		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-past mobile-trigger tribe-event-day-28" data-day="28">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-28">

					28		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-present tribe-events-has-events mobile-trigger tribe-event-day-29" data-day="29" data-date-name="May 29, 2014">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-29">

					<a href="http://wordpress.pittsburghfoodbank.org/events/2014-05-29/">29</a>
		
	</div>

	<!-- Events List -->
			

<div id="tribe-events-event-825-29" class="hentry vevent tribe-events-category-fundraiser post-825 tribe_events type-tribe_events status-publish hentry tag-feed-the-kids tag-kids tag-telethon cat_fundraiser tribe-events-venue-826 tribe-events-last" data-tribejson="{&quot;eventId&quot;:825,&quot;title&quot;:&quot;&quot;Feed the Kids&quot; Summer Telethon&quot;,&quot;permalink&quot;:&quot;http:\/\/wordpress.pittsburghfoodbank.org\/events\/feed-the-kids-summer-telethon\/&quot;,&quot;imageSrc&quot;:&quot;&quot;,&quot;startTime&quot;:&quot;May 29, 2014 4:00 pm&quot;,&quot;endTime&quot;:&quot;8:00 pm&quot;,&quot;imageTooltipSrc&quot;:&quot;&quot;,&quot;excerpt&quot;:&quot;Citizens Bank Foundation and Giant Eagle are teaming up to help make sure no children go hungry this summer.&quot;}">
	<h3 class="tribe-events-month-event-title summary"><a href="http://wordpress.pittsburghfoodbank.org/events/feed-the-kids-summer-telethon/" class="url">“Feed the Kids” Summer Telethon</a></h3>
</div><!-- #tribe-events-event-# -->

	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-future mobile-trigger tribe-event-day-30 tribe-events-right" data-day="30">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-30">

					30		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-thismonth tribe-events-future mobile-trigger tribe-event-day-31 tribe-events-right" data-day="31">
				


	<!-- Day Header -->
	<div id="tribe-events-daynum-31">

					31		
	</div>

	<!-- Events List -->
	
	<!-- View More -->
	
			</td>
								<td class="tribe-events-othermonth tribe-events-right">
				

			</td>
				</tr>
	</tbody>
</table>