&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		&lt;div class=&quot;lc&quot;&gt;
			{{&gt; molecules-page-header }}
			&lt;dl class=&quot;glossary-list&quot;&gt;
				{{# dl }}
				&lt;dt&gt;&lt;h3&gt;{{ dt }}&lt;/h3&gt;&lt;/dt&gt;
				&lt;dd&gt;
					&lt;ul class=&quot;g g-4up&quot;&gt;
						{{# dd }}
						&lt;li class=&quot;gi&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ label }}&lt;/a&gt;&lt;/li&gt;
						{{/ dd }}
				&lt;/dd&gt;
				{{/ dl }}
			&lt;/dl&gt;
		&lt;/div&gt;&lt;!--end .lc--&gt;
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;