<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> molecules-hero-text-banner }}
		<div class="lc">
			{{> molecules-hero }}
		</div>
		<div class="main-body">
			{{# touts }}
				<div class="g g-3up section">
					<div class="gi">
						{{> molecules-block-thumb-title-excerpt }}
					</div>
					<div class="gi">
						{{> molecules-block-thumb-title-excerpt }}
					</div>
					<div class="gi">
						{{> molecules-block-thumb-title-excerpt }}
					</div>
				</div>
			{{/ touts }}
			{{> organisms-split }}

			{{> organisms-section-img-headline-list }}

		</div><!--end .main-body-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>