<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> organisms-page-header-form }}
		<div class="lc">	
			<section class="section">
				<h2 class="section-title">Our Programs</h2>
				<p class="section-desc">We offer a host of services to Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<div class="g g-3up">
					{{# list }}
					<div class="gi">
						{{> molecules-block-thumb-title-excerpt }}
					</div>
					{{/ list }}
				</div>
			</section>
			<div class="fpo">Emergency food info</div>
			<div class="fpo">Find help near you</div>
			<div class="fpo">Program Touts</div>
		</div><!--end .lc-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>