<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> organisms-hero-page-header-form }}
		
		<div class="main-body">
			{{> molecules-cta-banner }}	
			<section class="section">
				<h2 class="section-title">Our Programs</h2>
				<p class="section-desc">We offer a host of services to Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<div class="g g-3up">
					{{# list }}
					<div class="gi">
						{{> molecules-block-thumb-title-excerpt }}
					</div>
					{{/ list }}
				</div>
			</section>
			<section class="section">
				<h2 class="section-title">Resources</h2>
				<p class="section-desc">For additional help, Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
				<ul class="text-list">
					<li><a href="{{ url }}">Allegheny County services</a></li>
					<li><a href="{{ url }}">Statewide services</a></li>
					<li><a href="{{ url }}">More about hunger</a></li>
				</ul>
			</section>
		</div><!--end .lc-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>