<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> molecules-page-header }}
		<div class="lc">
			<dl class="glossary-list">
				{{# dl }}
				<dt><h3>{{ dt }}</h3></dt>
				<dd>
					<ul class="g g-4up">
						{{# dd }}
						<li class="gi"><a href="{{ url }}">{{ label }}</a></li>
						{{/ dd }}
				</dd>
				{{/ dl }}
			</dl>
		</div><!--end .lc-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>