<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">'
		<div class="l-1col">
			<div class="l-main">
				{{> molecules-page-header }}
				<div class="fpo">Search Form</div>
				<div class="fpo">Directory</div>
			</div><!--end .l-main-->
		</div><!--end .l-1col-->'
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>