<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<h1 class="fpo">Program Detail</h1>
		<div class="fpo">Program overview (short &amp; sweet)</div>
		<div class="fpo">Program description</div>
		<div class="fpo">Program news (upcoming events, etc)</div>
		<div class="fpo">Farm Stand Project</div>
		<div class="fpo">Other programs</div>
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>