<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> molecules-page-header }}
		<div class="main-body l">
			<div class="l-main">
				{{> organisms-text-passage }}
				{{> molecules-well }}
			</div>
			<div class="l-sidebar">
				{{> organisms-sidebar-post-list }}
				{{> organisms-sidebar-event-list }}
			</div>
		</div>
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>