<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<div class="lc">
			{{> molecules-page-header }}
		</div>
		<div class="l-3col">
			<div class="l-main">
				<div class="fpo">Program description</div>
			</div>
			<div class="l-sidebar">
				{{> molecules-section-nav }}
			</div>
			<div class="l-sidebar2">
				<div class="fpo">Program news (upcoming events, etc)</div>
			</div>
		</div>
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>