<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> molecules-page-header }}
		<div class="main-body">
			<div class="lc">
				<div class="text">
					<h2>Mission Statement</h2>
					<p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, blanditiis, qui fugiat facere esse nam at eius aliquam veniam perferendis iste vel! Veritatis.</p>
					<h2>Award-winning Operations</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, aliquam, ullam nostrum ad sit maiores amet a exercitationem hic id sunt odit corporis autem ducimus quia possimus similique quaerat temporibus.</p>	
					<ul>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostru</li>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostru</li>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostru</li>
					</ul>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, aliquam, ullam nostrum ad sit maiores amet a exercitationem hic id sunt odit corporis autem ducimus quia possimus similique quaerat temporibus.</p>	
				</div>
			</div>
		</div><!--end .lc-->
		<section class="section section-alt">
			<div class="lc">
				<header class="section-header">
					<h2 class="section-title">More About Us</h2>
					<p class="section-desc">Learn more about our award-winning facilities, our operations, and more lorem ipsum dolor</p>
				</header>
				<div class="g g-3up">
					{{# list }}
					<div class="gi">
						{{> molecules-block-title-excerpt }}
					</div>
					{{/ list }}
				</div>
			</div>
		</section>
	</div><!--end role=main-->
	{{> organisms-footer }}
</div>