<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<h1 class="fpo">About the Greater Pittsburgh Community Food Bank</h1>
		<div class="fpo">Mission Statement</div>
		<div class="fpo">Short description of the organization</div>
		<div class="fpo">Links to sub-pages (history, operations, board, agencies, donors, sponsors, fundraising-policy, awards, finances)</div>
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>