<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<div class="l-1col">
			<div class="l-main">
				{{> molecules-page-header }}
				<div class="fpo">Mission Statement</div>
				<div class="fpo">Short description of the organization</div>
				<div class="fpo">Links to sub-pages (history, operations, board, agencies, donors, sponsors, fundraising-policy, awards, finances)</div>
			</div><!--end .l-main-->
		</div><!--end .l-1col-->
	</div><!--end role=main-->
	{{> organisms-footer }}
</div>