<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> molecules-page-header }}
		<div class="main-body l">
			<div class="l-main">
				<div class="text">
					<p>The Food Bank recently marked its 30th Anniversary. When Pittsburgh's great steel mills began closing in the 1980's the Food Bank came into existence as a way to help out the thousands of families suddenly without resources and at risk of hunger. Today, the Food Bank serves populations urban and rural, working, retired, of all ages and economic backgrounds. Below are some highlights from the Food Bank's journey that began in June of 1980.</p>

					<h2>A Brief Chronology of Greater Pittsburgh Community Food Bank</h2>
				</div>
				<div class="lc">
				{{> organisms-timeline }}
				</div>
			</div><!--end .l-main-->
			<div class="l-sidebar">
				
			</div><!--end .l-sidebar2-->
		</div><!--end .l-3col-->
		
		
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>