<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<div class="lc">
			{{> molecules-page-header }}
		</div>
		<div class="l-3col">
			<div class="l-main">
				<div class="fpo">Picture(s) of facility</div>
				<div class="fpo">Operation facility description</div>
			</div><!--end .l-main-->
			<div class="l-sidebar">
				{{> molecules-section-nav }}
			</div><!--end .l-sidebar-->
			<div class="l-sidebar2">
				<div class="fpo">Link to Jobs page</div>
			</div><!--end .l-sidebar2-->
		</div><!--end .l-3col-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>