<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<div class="l-3col">
			<div class="l-main">
				<h1 class="fpo">Greater Pittsburgh Community Food Bank History</h1>
				<div class="fpo">Intro paragraph (short and sweet)</div>
				<div class="fpo">GPCFB history timeline</div>
			</div><!--end .l-main-->
			<div class="l-sidebar">
				<div class="fpo">About section navigation</div>
			</div><!--end .l-sidebar-->
			<div class="l-sidebar2">
				
			</div><!--end .l-sidebar2-->
		</div><!--end .l-3col-->
		
		
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>