<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<div class="l-3col">
			<div class="l-main">
				<h1 class="fpo">Board, Management, and Staff</h1>
				<div class="fpo">Intro copy (short and sweet)</div>
				<div class="fpo">List of board members (headshot, name, position, contact info(?)</div>
				<div class="fpo">List of management (headshot(?), name, position, contact info(?)</div>
				
			</div><!--end .l-main-->
			<div class="l-sidebar">
				<div class="fpo">About section navigation</div>
			</div><!--end .l-sidebar-->
			<div class="l-sidebar2">
				<div class="fpo">Link to Jobs page</div>
			</div><!--end .l-sidebar2-->
		</div><!--end .l-3col-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>