<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> molecules-page-header }}
		<div class="lc">
			<section class="section">
				<header class="section-header">
					<h2 class="section-title">Executive Staff</h2>
				</header>
				<div class="g g-3up">
					{{# execList }}
					<div class="gi">
						{{> molecules-block-thumb-portrait-title }}
					</div>
					{{/ execList }}
				</div>
			</section>
			<hr />
			<section class="section">
				<header class="section-header">
					<h2 class="section-title">Board of Directors</h2>
				</header>
				<div class="g g-3up">
					{{# boardList }}
					<div class="gi">
						{{> molecules-block-title-excerpt }}
					</div>
					{{/ boardList }}
				</div>
			</section>	
		</div><!--end .lc-->
		{{> molecules-well }}
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>