<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<h1 class="fpo">Board &amp; Management</h1>
		<div class="fpo">Intro copy (short and sweet)</div>
		<div class="fpo">List of board members (headshot, name, position, contact info(?)</div>
		<div class="fpo">List of management (headshot(?), name, position, contact info(?)</div>
		<div class="fpo">About section navigation</div>
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>