<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> molecules-page-header }}
		<div class="main-body">	
				<h2>Executive Staff</h2>
				<div class="g g-3up">
					{{# execList }}
					<div class="gi">
						{{> molecules-block-thumb-portrait-title }}
					</div>
					{{/ execList }}
				</div>
				<hr />
				<h2>Board of Directors</h2>
				<div class="g g-3up">
					{{# boardList }}
					<div class="gi">
						{{> molecules-block-title-excerpt }}
					</div>
					{{/ boardList }}
				</div>
				<hr />
				{{> molecules-well }}
		</div><!--end .main-body-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>