<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<div class="l-3col">
			<div class="l-main">
				<h1 class="fpo">Donors &amp; Sponsors</h1>
				<div class="fpo">Intro copy (short and sweet)</div>
				<div class="fpo">Thanks to our amazing sponsors</div>
				<div class="fpo">Image list of sponsors</div>
				<div class="fpo">Become a sponsor</div>
			</div><!--end .l-main-->
			<div class="l-sidebar">
				<div class="fpo">About section navigation</div>
			</div><!--end .l-sidebar-->
			<div class="l-sidebar2">
				
			</div><!--end .l-sidebar2-->
		</div><!--end .l-3col-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>