<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> molecules-page-header }}
		<div class="l-3col">
			<div class="l-main">
				<h2>Thanks to our amazing sponsors</h2>
				{{}}
				<ul class="g g-3up">
					{{# sponsorList }}
					<li class="gi">
						<a href="{{ url }}" rel="external">{{> atoms-square }}</a>
					</li>
					{{/ sponsorList }}
				</ul>
				{{> molecules-well }}
			</div><!--end .l-main-->
			<div class="l-sidebar">
				{{> molecules-section-nav }}
			</div><!--end .l-sidebar-->
			<div class="l-sidebar2">
				{{> organisms-sidebar-text-list }}
			</div><!--end .l-sidebar2-->
		</div><!--end .l-3col-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>