<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<h1 class="fpo">Donors &amp; Sponsors</h1>
		<div class="fpo">Intro copy (short and sweet)</div>
		<div class="fpo">Thanks to our amazing sponsors</div>
		<div class="fpo">Image list of sponsors</div>
		<div class="fpo">Become a sponsor</div>
		<div class="fpo">About section navigation</div>
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>