<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> molecules-page-header }}
		<div class="main-body l">
			<div class="l-main">
				<div class="text">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, incidunt, eaque quas iure eius modi praesentium porro. Consectetur, eveniet, tempora, earum ipsa aut quod reiciendis nulla ducimus non soluta corporis.</p>
				</div>
				{{> molecules-well }}
			</div><!--end .l-main-->
			<div class="l-sidebar">
				{{> organisms-sidebar-text-list }}
			</div><!--end .l-sidebar-->
		</div><!--end .l-3col-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>