<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<div class="l-3col">
			<div class="l-main">
				<h1 class="fpo">Awards and Press</h1>
				<div class="fpo">Intro copy about press (short and sweet)</div>
				<div class="fpo">List of awards, honors, associations, etc</div>
				<div class="fpo">In the news</div>
			</div><!--end .l-main-->
			<div class="l-sidebar">
				<div class="fpo">About section navigation</div>
			</div><!--end .l-sidebar-->
			<div class="l-sidebar2">
				<div class="fpo">Newsletter Signup to stay up-to-date with events</div>
				<div class="fpo">Link to Blog</div>
			</div><!--end .l-sidebar2-->
		</div><!--end .l-3col-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>