<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<h1 class="fpo">Finances</h1>
		<div class="fpo">Intro copy about finances (short and sweet)</div>
		<div class="fpo">Link to financial</div>
		<div class="fpo">About section navigation</div>
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>