<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> molecules-page-header }}
		<div class="l-3col">
			<div class="l-main">
				<div class="text">
					<h2>Job Responsibilities</h2>
					<ul>
						<li>Work with the Chief Executive Officer and Chief Development Officer to secure funds from corporations, mid-sized businesses, foundations, and government sources. 
						</li><li>Identify, research, solicit corporations, mid-sized businesses, foundations, and government sources of funding. 
						</li><li>Lead proposal development and grant review processes. 
						</li><li>Source proposal requirements and submission deadlines and maintain report deadline calendar. 
						</li><li>Meet with all departments as required to develop proposals, maintain and compile reporting data. 
						</li><li>Write, edit, proofread, and submit applications and budgets. Coordinate preparation, assembly, and delivery of proposal documents. 
						</li><li>Follow up reports to Food Bank, corporations, businesses, foundations, and government funders as required. 
						</li><li>Participate in and support Food Bank special events. </li>
					</ul>
					<h2>Job Requirements</h2>
					<ul>
						<li>Bachelor's Degree in Business Administration, Communications or Professional Writing and five years related experience in grant writing; or equivalent combination of education and experience. 
						</li><li>Knowledge of Word Processing software; Desktop Publishing; Spreadsheet software; Accounting software; Development software; Internet software; Project Management software and Database software. 
						</li><li>Excellent grant writing, written and verbal communication skills. 
						</li><li>Excellent organizational and planning skills. 
						</li><li>Take initiative to make recommendations, identify and resolve issues. Proven ability to meet critical deadlines and attain goals. 
						</li><li>Valid drivers’ license. </li>
					</ul>
				</div>
				{{> molecules-well }}			
			</div><!--end .l-main-->
			<div class="l-sidebar">
				{{> molecules-section-nav }}
			</div><!--end .l-sidebar-->
			<div class="l-sidebar2">
				{{> organisms-sidebar-text-list }}
			</div><!--end .l-sidebar2-->
		</div><!--end .l-3col-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>