<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<div class="lc">
			{{> molecules-page-header }}
		</div>
		<div class="l-3col">
			<div class="l-main">
				<section class="section">
					<h2>Upcoming Events</h2>
					<ul class="post-list">
						{{# eventList }}
						<li>{{> molecules-block-event }}</li>
						{{/ eventList }}
					</ul>
				</section>
				{{> organisms-newsletter-well }}
				<section class="section">
					<h2>Want to organize an event?</h2>
					<p>The Food Bank divides special events into two types, those we sponsor and organize, and those that are created and carried out by people or groups in the community on our behalf. If you wish to hold an event on our behalf, please <a href="#">contact the Special Events Coordinator.</a></p>
				</section>
			</div><!--end .l-main-->
			<div class="l-sidebar">
				{{> molecules-section-nav }}
			</div><!--end .l-sidebar-->
			<div class="l-sidebar2">
				{{> organisms-sidebar-text-list }}
			</div><!--end .l-sidebar2-->
		</div><!--end .l-3col-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>