<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<h1 class="fpo">Events</h1>
		<div class="fpo">Intro copy (short and sweet)</div>
		<div class="fpo">Upcoming Events</div>
		<div class="fpo">Info about organizing/volunteering an event</div>
		<div class="fpo">Newsletter Signup to stay up-to-date with events</div>
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>