<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> molecules-page-header }}

		<div class="l">
			<div class="l-main lc lc-single">
				<section class="section">
					{{> molecules-tabs }}
					<ul class="post-list event-list">
						{{# eventList }}
						<li>{{> molecules-block-event }}</li>
						{{/ eventList }}
					</ul>
				</section>
			</div><!--end .l-main-->
			{{> organisms-well-subscribe }}
			<div class="l-sidebar">
				{{> organisms-sidebar-text-list }}
				{{> organisms-sidebar-text }}
			</div><!--end .l-sidebar-->
		</div><!--end .l-->

	</div><!--End role=main-->
	{{> organisms-footer }}
</div>