<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<div class="lc">
			{{> molecules-page-header }}
		</div>
		<div class="l-3col">
			<div class="l-main">
				<section class="section">
					<h2>Special Events</h2>
						<div class="text">
						                	
	                    <p class="intro">Special events help raise funds for operating expenses and food while raising awareness about hunger in our community. </p>

	                    <p>These events help us engage the public in our mission, keep the community abreast of news about hunger, and contribute to the rich cultural fabric of the region.</p>
	 
						
										
				<a id="blues" name="bff"></a>
				<h3>Blues for Food</h3>
				<p> Local blues musician Eugene Morgan (of Eugene &amp; the Nightcrawlers) and his friends liven up a couple of Sundays in February and August each year with this local all-day blues bash at Delmenico's Pizzeria &amp; Ristorante in Cranberry. All proceeds benefit the Food Bank. <a href="../donate/donors.aspx">Learn about sponsorship opportunities</a>.</p>		
						
				<a id="d" name="d"></a>	
				<h3>D-Jam</h3>
				<p>An annual rock against hunger evening of local music to support the Food Bank. <a href="../donate/donors.aspx">Learn about sponsorship opportunities</a>.</p>		

				<a id="empty" name="empty"></a>	
				<h3>Empty Bowls</h3>
				<p> A simple meal of soup and bread to raise awareness about hunger in our community. Held annually in March, Empty Bowls features soups donated from Pittsburgh's restaurants, entertainment, silent auction of world-class ceramic art and celebrity autographed bowls, kids' activities, and each ticket holder chooses a beautiful hand made ceramic bowl to take home. Benefits the Food Bank and Just Harvest. <a href="../donate/donors.aspx">Learn about sponsorship opportunities</a>.</p>		
				
				<a id="fall" name="fall"></a>	
				<h3>Fall FoodShare</h3>
				<p>On weekends during October &amp; November, the Girl Scouts of America and other volunteers will be at many local Giant Eagle supermarkets collecting food. While you're shopping, purchase a few extra items for the hungry, or make a cash donation at the register. <a href="../donate/donors.aspx">Learn about sponsorship opportunities</a>.</p>		
		
				<a id="golf" name="golf"></a>	
				<h3>Golf S.O.M.E.</h3>
				<p>Yes, it's another golf tournament, but for such a great cause, how can you resist? Come Golf (So Others May Eat)! <a href="../donate/donors.aspx">Learn about sponsorship opportunities</a>.</p>		

				<a id="hung" name="hung"></a>	
				<h3>Hunger Awareness Day</h3>
				<p>Held the first Tuesday in June, Hunger Awareness Day is the Food Bank's day to bring attention to childhood hunger as the school year ends. We also celebrate some special supporters with Hunger Awareness Day Awards. <a href="../donate/donors.aspx">Learn about sponsorship opportunities</a>.</p>		
				

			<a id="kd" name="kd"></a>	
			<h3>KD Turkey Fund</h3>
			<p>More than 30 years ago, KDKA-TV personality Al Julius was given a ten-dollar bill by a listener with instructions to "help a local family have a Thanksgiving turkey," and the KD Turkey Drive was born. Over twelve million dollars later, tens of thousands of families in need have been able to gather with their families and celebrate with thanks of their own. </p>		

							
				<a id="pens" name="pens"></a>				
				<h3>Penguins Food Drive</h3>
				<p>The Penguins Annual Food Drive tradition continues. Fans bring non-perishables to a home game, or make a cash donation, and get a raffle ticket for some cool autographed Penguin stuff. The date varies, but we'll remind you!  <a href="../donate/donors.aspx">Learn about sponsorship opportunities</a>.</p>		
				
				
					<a id="A1" name="blues"></a>	
					<h3>Pittsburgh Blues Festival</h3>
					<p>The Food Bank's signature annual fundraising event. Pittsburgh Blues Festival takes place in July at Hartwood Acres, and features the best in national and local blues musicians. Visit the <a href="http://www.pghblues.com" rel="external">Blues Festival website </a> for all the details! <a href="../donate/donors.aspx">Learn about sponsorship opportunities</a>.</p>			

					<a id="scout" name="scout"></a>	
					<h3>Scouting for Food</h3>
					<p>Scouting for Food is the Boy Scouts of America-Laurel Highlands Council's annual food drive, the largest of the spring season. Scouts collect food in their neighborhoods and many conscientious corporations participate by collecting food or hosting a Virtual Food Drive. This region-wide drive helps the Food Bank and dozens of local food pantries.</p>		

					<a id="stamp" name="stamp"></a>	
					<h3>Stamp Out Hunger</h3>
					<p>The National Association of Letter Carriers' "Stamp Out Hunger" Campaign is the largest one-day food drive in the nation, collecting more than 70 million pounds of food each year. Held in mid-May, all you have to do is put a sturdy bag of non-perishable grocery items out by your mail box before your regular mail delivery time, and your friendly letter carrier will pick it up. All donations remain in the area they were collected - a great opportunity to help struggling families right in your neighborhood! </p>		

					<a id="steel" name="steel"></a>	
					<h3>Steelers Food Drive</h3>
					<p>Our own Super Bowl champion team helps the Food Bank with an annual food drive at a home game in the fall. The date varies, so check back to keep track! <a href="../donate/donors.aspx">Learn about sponsorship opportunities</a>.</p>		

					
					<a id="walk" name="walk"></a>	
					<h3>Walk for A Healthy Community</h3>
					<p>Held in May, the Highmark Walk for A Healthy Community benefits dozens of local charities which sign up walkers and sponsors. Highmark Blue Cross Blue Shield underwrites the cost of the Walk, so all proceeds go directly to the charities. Combining healthy exercise with supporting the Food Bank - what a concept! </p>		
				  	</div>

				</section>
				<hr />
				<section class="section">
					<h2>Want to organize an event?</h2>
					<p>The Food Bank divides special events into two types, those we sponsor and organize, and those that are created and carried out by people or groups in the community on our behalf. If you wish to hold an event on our behalf, please <a href="#">contact the Special Events Coordinator.</a></p>
				</section>
			</div><!--end .l-main-->
			<div class="l-sidebar">
				{{> molecules-section-nav }}
			</div><!--end .l-sidebar-->
			<div class="l-sidebar2">
				{{> molecules-well }}
			</div><!--end .l-sidebar2-->
		</div><!--end .l-3col-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>