<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> organisms-hero-page-header-donate }}
		

		<div class="lc">
			<div class="fpo">Donate food info</div>
			<div class="fpo">Planned giving info</div>
			<div class="fpo">Store link</div>
			<div class="fpo">Volunteer tout ("Can't make a financial donation? Donate your time!" etc)</div>
		</div><!--end .lc-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>