<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> molecules-page-header }}
		
		<section class="section">
			<div class="lc lc-single">
				{{> organisms-donate-extended }}
			</div>
			
		</section>
		
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>