<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<h1 class="fpo">Get Involved</h1>
		<div class="fpo">Intro text (short and sweet)</div>
		<div class="fpo">Volunteer</div>
		<div class="fpo">Donate</div>
		<div class="fpo">Organize</div>
		<div class="fpo">Advocate</div>
		<div class="fpo">Get Informed</div>
		<div class="fpo">Newsletter Signup</div>
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>