<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> molecules-page-header }}
		<div class="lc">
			{{> molecules-hero }}
		</div>
		<section class="section section-alt">
			<div class="lc">
				<header class="section-header">
					<h2 class="section-title">More Ways to Get Involved</h2>
				</header>
				<div class="g g-3up">
					{{# list }}
					<div class="gi">
						{{> molecules-block-thumb-title-excerpt }}
					</div>
					{{/ list }}
				</div><!--end .g-3up-->
			</div>
		</section>
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>