<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<div class="l-3col">
			<div class="l-main">
				<h1 class="fpo">Volunteer</h1>
				<div class="fpo">Intro text (short and sweet)</div>
				<div class="fpo">Contact information</div>
				<div class="fpo">List of volunteer categories (repack, gleaning, fundraising, food drives, produce to people, clerical work)</div>
			</div><!--end .l-main-->
			<div class="l-sidebar">
				<div class="fpo">Volunteer Age Requirements</div>
			</div><!--end .l-sidebar-->
			<div class="l-sidebar2">
				<div class="fpo">Newsletter Signup to stay up-to-date with volunteer opportunities</div>
			</div><!--end .l-sidebar2-->
		</div><!--end .l-3col-->
		
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>