<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<h1 class="fpo">Volunteer</h1>
		<div class="fpo">Intro text (short and sweet)</div>
		<div class="fpo">Contact information</div>
		<div class="fpo">List of volunteer categories (repack, gleaning, fundraising, food drives, produce to people, clerical work)</div>
		<div class="fpo">Volunteer Age Requirements</div>
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>