<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> molecules-page-header }}
		<div class="main-body l">
			<div class="l-main">
				{{> molecules-page-header }}
				<h1 class="fpo">Repack Center Information</h1>
				<div class="fpo">Intro text (short and sweet)</div>
				<div class="fpo">Contact info</div>
				<div class="fpo">Repack hours</div>
				<div class="fpo">Criteria for repack volunteers</div>
				<div class="fpo">Repack volunteers guidelines</div>
			</div><!--end .l-main-->
			<div class="l-sidebar">
				<div class="fpo">Newsletter Signup to stay up-to-date with volunteer opportunities</div>
			</div><!--end .l-sidebar-->
		</div><!--end .l-3col-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>