<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<h1 class="fpo">Repack Center Information</h1>
		<div class="fpo">Intro text (short and sweet)</div>
		<div class="fpo">Contact info</div>
		<div class="fpo">Repack hours</div>
		<div class="fpo">Criteria for repack volunteers</div>
		<div class="fpo">Repack volunteers guidelines</div>
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>