<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<h1 class="fpo">Advocacy</h1>
		<div class="fpo">Intro text (short and sweet)</div>
		<div class="fpo">Call to Action</div>
		<div class="fpo">Advocacy description</div>
		<div class="fpo">Links to resources (why end hunger? advocacy resources, etc)</div>
		<div class="fpo">Policy Priorities</div>
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>