<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<div class="l-1col">
			<div class="l-main">
				<h1 class="fpo">Kids Get Involved</h1>
				<div class="fpo">Intro text (short and sweet)</div>
				<div class="fpo">Join Kids Campaign to End Hunger CTA</div>
				<div class="fpo">Kids Campgign to End Hunger</div>
				<div class="fpo">Food Drives</div>
				<div class="fpo">Volunteer</div>
				<div class="fpo">Pennies for Peanut Butter</div>
				<div class="fpo">Fundrasing</div>
				<div class="fpo">Teens Take Action</div>
			</div><!--end .l-main-->
		</div><!--end .l-1col-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>