<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<h1 class="fpo">Join Kids Campaign to End Hunger</h1>
		<div class="fpo">Intro text (short and sweet)</div>
		<div class="fpo">Benefits</div>
		<div class="fpo">Signup form</div>
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>