<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> molecules-page-header }}
		<div class="lc">
			<div class="g g-3up">
				{{# list }}
				<div class="gi">
					{{> molecules-block-thumb-title-excerpt }}
				</div>
				{{/ list }}
			</div>
		</div><!--end .l-1col-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>