<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<div class="l-1col">
			<div class="l-main">
				<h1 class="fpo">Resources</h1>
				<div class="fpo">Intro text (short and sweet)</div>
				<div class="fpo">Touts for each resource section (Hunger, Food, Recipes, Advocacy , etc)</div>
				<div class="fpo">Stats</div>
			</div><!--end .l-main-->
		</div><!--end .l-1col-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>