<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<h1 class="fpo">Resource Detail</h1>
		<div class="fpo">Intro text (short and sweet)</div>
		<div class="fpo">Resource description (copy, list of links, etc)</div>
		<div class="fpo">Resource subnavigation</div>
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>