<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<div class="lc">
			{{> molecules-page-header }}
		</div>
		<div class="l-3col">
			<div class="l-main">
				{{# faqList }}
					<h2>{{ headline.short }}</h2>
					{{> organisms-accordion-to-full }}
				{{/ faqList }}
			</div><!--end .l-main-->
			<div class="l-sidebar">
				{{> molecules-section-nav }}
			</div><!--end .l-sidebar-->
			<div class="l-sidebar2">
				{{> organisms-sidebar-text-list }}
			</div><!--end .l-sidebar2-->
		</div><!--end .l-3col-->
		
		
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>