<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> molecules-page-header }}
		<div class="l">
			<div class="lc">
				<div class="section">
					<div class="recipe-rainbow">
						<div class="recipe-toolbar">
							<form action="#" method="get" class="inline-form" id="ingredient-form">
								<fieldset>
									<legend>Enter ingredients</legend>
									<label for="ingredient">Enter an ingredient:</label>
									<div class="inline-container">
										<input type="text" id="ingredient" placeholder='i.e. "Carrots", "Beets"' />
										<button class="btn">Add</button>
									</div>
								</fieldset>
							</form>
							
							<div class="ingredients-controls">
								<h4>Your ingredients:</h4>
								<ul class="ingredient-list">
									
								</ul>
							</div>
						</div>
						<div class="recipe-results">
							<h2 class="recipe-results-title">Recipes containing <span class="result-ingredient-list"></span>:</h2>
							<ul class="g g-2up">
								{{# list }}
								<li class="gi">
									{{> molecules-block-recipe }}
								</li>
								{{/ list }}
							</ul>
						</div>
					</div>
				</div>
			</div><!--end .lc-->
			
			{{> organisms-well-subscribe }}
			{{> organisms-sidebar }}
		</div>
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>