<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<div class="l-3col">
			<div class="l-main">
				<h1 class="fpo">Resource Detail</h1>
				<div class="fpo">Intro text (short and sweet)</div>
				<div class="fpo">Resource description (copy, list of links, etc)</div>
			</div><!--end .l-main-->
			<div class="l-sidebar">
				<div class="fpo">Resource subnavigation</div>
			</div><!--end .l-sidebar-->
			<div class="l-sidebar2">
				<div class="fpo">Stat</div>
			</div><!--end .l-sidebar2-->
		</div><!--end .l-3col-->
		
		
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>