<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<h1 class="fpo">Blog</h1>
		<div class="fpo">Intro text (short and sweet)</div>
		<div class="fpo">Latest blog entries (with pagination)</div>
		<div class="fpo">About GPCFB</div>
		<div class="fpo">Upcoming events</div>
		<div class="fpo">Categories (advocacy updates, events, stories, etc)</div>
		<div class="fpo">Subscribe tout (RSS, Twitter, Facebook, Newsletter)</div>
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>