<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> molecules-page-header }}
		<div class="main-body l">
			<div class="l-main">
				{{> organisms-text-passage }}
				{{> molecules-social-share }}
				{{> organisms-well-subscribe }}
			</div><!--end .l-main-->
			<div class="l-sidebar">
				{{> organisms-sidebar-text }}
				{{> organisms-sidebar-event-list }}
				{{> organisms-sidebar-post-list }}
			</div><!--end .l-sidebar-->
		</div><!--end .l-3col-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>