<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<h1 class="fpo">Blog Detail</h1>
		<div class="fpo">Timestamp</div>
		<div class="fpo">Author Name</div>
		<div class="fpo">Blog post (could be advocacy update, event update, </div>
		<div class="fpo">Share post</div>
		<div class="fpo">Comments (will you have comments?)</div>
		<div class="fpo">About GPCFB</div>
		<div class="fpo">Upcoming events</div>
		<div class="fpo">Categories (advocacy updates, events, stories, etc)</div>
		<div class="fpo">Subscribe tout (RSS, Twitter, Facebook, Newsletter)</div>
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>