<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<div class="l-3col">
			<div class="l-main">
				<h1 class="fpo">Blog Detail</h1>
				<div class="fpo">Timestamp</div>
				<div class="fpo">Author Name</div>
				<div class="fpo">Blog post (could be advocacy update, event update, </div>
				<div class="fpo">Share post</div>
			</div><!--end l-main-->
			<div class="l-sidebar">
				<div class="fpo">Related posts</div>
			</div><!--end l-sidebar-->
			<div class="l-sidebar2">
				<div class="fpo">About GPCFB</div>
				<div class="fpo">Upcoming events</div>
				<div class="fpo">Categories (advocacy updates, events, stories, etc)</div>
				<div class="fpo">Subscribe tout (RSS, Twitter, Facebook, Newsletter)</div>
			</div><!--end l-sidebar2-->
		</div><!--end l-3col-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>