<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<h1 class="fpo">Contact</h1>
		<div class="fpo">Emergency food information</div>
		<div class="fpo">Address (link to directions), phone number, fax, email</div>
		<div class="fpo">Donate number and link</div>
		<div class="fpo">Phone directory</div>
		<div class="fpo">Directions</div>
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>