<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<h1 class="fpo">Jobs &amp; Internships</h1>
		<div class="fpo">Intro text (short and sweet)</div>
		<div class="fpo">Contact information</div>
		<div class="fpo">Available positions (title, description, contact info)</div>
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>