<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<div class="l-3col">
			<div class="l-main">
				<h1 class="fpo">Jobs &amp; Internships</h1>
				<div class="fpo">Intro text (short and sweet)</div>
				<div class="fpo">Contact information</div>
				<div class="fpo">Available positions (title, description, contact info)</div>
			</div><!--end .l-main-->
			<div class="l-sidebar">
				<!--Intro text should go here on larger screens-->
			</div><!--end .l-sidebar-->
			<div class="l-sidebar2">
				<div class="fpo">Links to About GPCFB and other relevant links</div>
			</div><!--end .l-sidebar2-->
		</div><!--end .l-3col-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>