<form method="post" action="https://secure2.convio.net/gpcfb/site/CRDonationAPI" class="donate-form luminateApi donation-form">
	<input type="hidden" name="method" value="donate">
    <input type="hidden" name="form_id" value="4080">
    <input type="hidden" name="validate" value="true">
    <input type="hidden" name="df_preview" value="true">
    <input type="hidden" name="billing.name.first" value="">
    <input type="hidden" name="billing.name.last" value="">
    
	<fieldset class="donate-step" id="donate-step-1">
		<legend class="donate-step-legend"><span class="form-step">1</span> Choose an amount to donate:</legend>
		<!-- <legend><span class="donate-slider-amount blank"></span> <span class="donate-slider-message">Slide to choose amount to donate:</span></legend> -->
		
		<!--
<div class="field-container">
			<label for="donate-range" class="field-instruction is-vishidden">Slide to choose amount to donate:</label>
			<input type="number" data-type="range" class="donate-range ui-slider-input" id="donate-range" value="5" min="1" max="100" />
		</div>
-->
		
		<div class="field-container">
			<label for="other-amount">Donate Amount</label>
			<input type="number" class="form-control" id="other-amount" name="other_amount">
		</div>
		
		<div class="field-container checkbox-container">
			<input type="checkbox" id="donate-monthly" />
			<label for="donate-monthly">Yes, I would like to donate this amount monthly</label>
		</div>
	</fieldset><!--end .donate-step-->

	<fieldset class="donate-step" id="donate-step-2">
		<legend class="donate-step-legend"><span class="form-step">2</span> Enter your information:</legend>
		<div class="g g-2up">
			<div class="field-container gi">
				<label for="donate-name">Full Name</label>
				<input type="text" id="donate-name" placeholder="Firstname Lastname" autocomplete="off" required data-parsley-error-message="Please enter both your first name and last name" />
			</div>
			<div class="field-container gi">
				<label for="donate-email">E-mail</label>
				<input type="email" id="donate-email" placeholder="your@email.com" required data-parsley-error-message="Please enter a valid e-mail address" name="donor.email" />
			</div>
			<div class="field-container gi">
				<label for="donate-address">Address</label>
				<input type="text" id="donate-address" placeholder="123 Main St, Apt 2" autocomplete="off" required data-parsley-error-message="Please enter your street address" name="billing.address.street1" />
			</div>
			<div class="field-container gi">
				<label for="donate-city">City</label>
				<input type="text" id="donate-city" placeholder="Pittsburgh" autocomplete="off" required data-parsley-error-message="Please enter your city" name="billing.address.city" />
			</div>
			<div class="field-container gi">
				<label for="donate-city">State</label>
				<input type="text" id="donate-city" placeholder="Pittsburgh" value="PA" autocomplete="off" name="billing.address.state" required />
			</div>
			<div class="field-container gi">
				<label for="donate-city">ZIP</label>
				<input type="text" id="donate-zip" placeholder="15201" autocomplete="off" required data-parsley-error-message="Please enter a valid ZIP code" name="billing.address.zip" />
			</div>
			
		</div><!--end .g-2up-->
	</fieldset><!--end .donate-step-->
	
	<fieldset class="donate-step" id="donate-step-3">
		<legend class="donate-step-legend"><span class="form-step">3</span> Credit card info:</legend>
		<div class="credit-card-group">
			<input placeholder="1234 5678 9012 3456" pattern="[0-9]*" type="text" class="card-number" id="card-number" name="card_number">
			<input placeholder="MM/YY" pattern="[0-9]*" type="text" class="card-expiration" name="card_cvv">
			<input placeholder="CVV" pattern="[0-9]*" type="text" class="card-cvv" name="card_cvv">
			<input placeholder="ZIP" pattern="[0-9]*" type="text" class="card-zip">
		</div>
	</fieldset><!--end .donate-step-->
	<button class="donate-submit btn">Donate</button>
</form><!--end .donate-form-->