/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form ol, form ul {
	list-style: none;
	margin-left: 0;
}

legend {
	font-weight: bold;
	margin-bottom: 0.2em;
}

fieldset {
	border: 0;
	padding: $pad 0;
	margin: 0 0 $space;
}

label {
	display: block;
	font-weight: bold;
	padding-bottom: $space-quarter;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

input, textarea {
	width: 100%;
	border: 1px solid $gray;
	padding: $pad;
}

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
	-webkit-appearance: none;
}

button, input[type="submit"] {
	color: $black;
	background: $gold;
	text-transform: uppercase;
	font-weight: bold;
	padding: 1.05em;
	border: 0;
	cursor: pointer;
	text-align: center;
	@include transition(all,0.2s,ease-out);

	&:hover, &:focus {
		background: $gold-dark;
	}
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: 0.3em;
}

input[type="search"] {
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

//Form Field Container
.field-container {
	margin-bottom: $space;
}

.radio-container, .checkbox-container {
	label {
		display: inline;
	}
}

//Field Step
.form-step {
	background: $gray-dark;
	color: $white;
	padding: 0.2em 0.5em;
	line-height: 1;
	border-radius: 15px;
}

.inline-form {
	margin-bottom: $space;
	
	fieldset, .inline-container {
		position: relative;
		padding: 0;
		margin: 0;
	}
	
	input[type=submit], button {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		width: auto;
	}
}

/* Validation */
.has-error {
	border-color: $error;
}

.is-valid {
	border-color: $valid;
}




/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/

// Search Form
.search-field {
	padding: 0.7em 3em 0.7em 0.7em;
	padding-right: 3em;
	margin: 0;
}
.inline-form .search-submit {
	background: none;
	padding: 0.78em 1em;
	border: 0;
	border-left: 1px solid $gray;
	color: $gray;
}