/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form ol, form ul {
	list-style: none;
	margin-left: 0;
}

legend {
	font-weight: bold;
	margin-bottom: 0.2em;
}

fieldset {
	border: 0;
	padding: $pad 0;
	margin: 0 0 $space;
}

label {
	display: block;
	font-weight: bold;
	padding-bottom: $space-quarter;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

input, textarea {
	width: 100%;
	border: 1px solid $gray-light-4;
	border-radius: $border-radius;
	padding: 1.02em 1em;
}

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
	-webkit-appearance: none;
}

button, input[type="submit"] {
	color: $white;
	background: $green-dark;
	text-transform: uppercase;
	font-weight: bold;
	padding: $pad;
	border: 0;
	cursor: pointer;
	text-align: center;
	@include transition(all,0.2s,ease-out);

	&:hover, &:focus {
		background: $gold-dark;
		color: $black;
	}
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: 0.3em;
}

input[type="search"] {
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
   color: $gray-light-4;
}

::-moz-placeholder {
   color: $gray-light-4;
}

:-ms-input-placeholder {  
   color: $gray-light-4; 
}

//Form Field Container
.field-container {
	margin-bottom: $space;
}

.checkbox-container {
	padding-left: 2px;

	input {
		float: left;
	}

	label {
		font-weight: normal;
		margin-left: 24px;
		position: relative;
		top: -4px;

		&:hover, &:focus {
			color: $green;
		}
	}
}

.radio-container {
	padding: 0.2em 0.1em;
	overflow: hidden;
	margin-bottom: $space;
	
	label {
		font-weight: normal;
		float: left;
		margin-right: 1.5em;
		
		&:hover, &:focus {
			color: $green;
		}
		
		&:last-child {
			margin-right: 0;
		}
	}
	
	input {
		float: left;
		position: relative;
		top: 2px;
	}

	
}

.inline-form {
	margin-bottom: $space;
	
	legend {
		display: none;
	}
	
	fieldset, .inline-container {
		position: relative;
		padding: 0;
		margin: 0;
	}
	
	input[type=submit], button {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		border: 1px solid $white;
		z-index: 1;
		width: auto;
		padding: 1em 0.8em;
		border-radius: $border-radius;
	}
}

/* Validation */
.parsley-error {
	border-color: $error;
}

.parsley-success {
	border-color: $valid;
}

.parsley-errors-list.filled {
	color: $error;
	padding: 0.2em;
	font-size: $font-size-sm;
}