/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1 { 
	font-size: $font-size-large-2;
	font-weight: normal;
	line-height: 1.2;

	@media all and (min-width: $bp-small-2) {
		font-size: $font-size-large-3;
		margin-bottom: $space-half;
	}

	@media all and (min-width: $bp-med) {
		font-size: $font-size-xl;
		line-height: 1.1;
	}
}

h2 {
	font-size: $font-size-large-2;
	line-height: 1.2;
	margin-bottom: $space-half;
}

h3 { 
	font-size: $font-size-large;
	line-height: 1.2;
	margin-bottom: $space-half;
}

h4 {
	line-height: 1.2;
	margin-bottom: $space-half;
}