/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1 { 
	line-height: 1.2;
	margin-bottom: $space-half;
}

h2 {
	line-height: 1.2;
	margin-bottom: $space-half;
}

h3 { 
	line-height: 1.2;
	margin-bottom: $space-half;
}

h4 {
	line-height: 1.2;
	margin-bottom: $space-half;
}

h5 { 
	
}

/* Subheadings */
.subheading {
	font-family: $font-secondary;
	font-weight: normal;
}
