/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/

/* Flexible Media */
img, video {
	max-width: 100%;
	height: auto;
	border: 0;
	border-radius: $border-radius;
}

a img {
	border: 0;
}

iframe {
	display: block;
	max-width: 100% !important;
	margin-bottom: $space;
	
}

figure {
	margin-bottom: $space;
	
	img {
		margin-bottom: $space-quarter;
	}
}
figcaption {
	font-style: italic;
}