&lt;div class=&quot;block block-text&quot;&gt;
	&lt;a href=&quot;#&quot;&gt;
		&lt;h2 class=&quot;b-title&quot;&gt;{{ headline.short }}&lt;/h2&gt;
		&lt;p class=&quot;b-excerpt&quot;&gt;{{ excerpt.short }}&lt;/p&gt;
	&lt;/a&gt;
&lt;/div&gt;