<div class="page-header beets">
	<h1 class="page-title">Beets</h1>
	<p class="page-intro">Page Header</p>
</div>

<div class="page-header cucumbers">
	<h1 class="page-title">Cucumbers</h1>
	<p class="page-intro">Page Header</p>
</div>

<div class="page-header carrots">
	<h1 class="page-title">Carrots</h1>
	<p class="page-intro">Page Header</p>
</div>

<div class="page-header corn">
	<h1 class="page-title">Corn</h1>
	<p class="page-intro">Page Header</p>
</div>

<div class="page-header eggs">
	<h1 class="page-title">Eggs</h1>
	<p class="page-intro">Page Header</p>
</div>

<div class="page-header lettuce">
	<h1 class="page-title">Lettuce</h1>
	<p class="page-intro">Page Header</p>
</div>

<div class="page-header onions">
	<h1 class="page-title">Onions</h1>
	<p class="page-intro">Page Header</p>
</div>

<div class="page-header peppers">
	<h1 class="page-title">Peppers</h1>
	<p class="page-intro">Page Header</p>
</div>

<div class="page-header peppers2">
	<h1 class="page-title">Peppers2</h1>
	<p class="page-intro">Page Header</p>
</div>

<div class="page-header potatoes">
	<h1 class="page-title">Pototoes</h1>
	<p class="page-intro">Page Header</p>
</div>

<div class="page-header pumpkins">
	<h1 class="page-title">Pumpkins</h1>
	<p class="page-intro">Page Header</p>
</div>

<div class="page-header squash">
	<h1 class="page-title">Squash</h1>
	<p class="page-intro">Page Header</p>
</div>

<div class="page-header tomatoes">
	<h1 class="page-title">Tomatoes</h1>
	<p class="page-intro">Page Header</p>
</div>