<!-- Begin .header -->
<header class="header" role="banner">
	<div class="lc">
		{{> atoms-logo-white }}
		<a href="#search-form" class="nav-toggle nav-toggle-search icon-search"><span class="is-vishidden">Search</span></a>
		<a href="#nav" class="nav-toggle nav-toggle-menu icon-menu2"><span class="is-vishidden">Menu</span></a>
		<div class="header-nav-container">
			{{> molecules-search }}
			{{> molecules-primary-nav }}
		</div>
	</div>
</header>
<!-- End .header -->