<!-- Begin .header -->
<header class="header" role="banner">
	<div class="lc">
		{{> atoms-logo }}
		<a href="#search-form" class="nav-toggle nav-toggle-search"><span class="icon-search"></span></a>
		<a href="#nav" class="nav-toggle nav-toggle-menu"><span class="icon-menu2"></span><span class="nav-toggle-label">Menu</span></a>
		<div class="header-nav-container">
			{{> molecules-search }}
			{{> molecules-primary-nav }}
		</div>
	</div>
</header>
<!-- End .header -->