{{> organisms-donate }}
<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
	<div class="footer-btn-bar-container">
		<div class="footer-btn-bar">
			<a href="#">Get Help<span class="icon-arrow-right5"></span></a>
			<a href="#">Give Help<span class="icon-arrow-right5"></span></a>
		</div>
	</div>
	<div class="lc">
		{{> molecules-footer-nav }}
		<hr />
		<div class="g g-2up footer-contact">
			<div class="gi">
				<div class="g g-2up footer-contact-area">
					<div class="gi">
						<h3 class="nav-footer-item acc-handle"><a href="{{ link.pages-contact }}">Email Us</a></h3>
						<div class="acc-panel">
							<a href="mailto:info@pittsburghfoodbank.org"><span class="icon-mail"></span>info@pittsburghfoodbank.org</a>
							<a href="{{ link.pages-contact }}"><span class="icon-user"></span>Email a department</a>
						</div>
					</div><!--end .gi-->
					<div class="gi">
						<h3 class="nav-footer-item acc-handle">Call Us</h3>
						<div class="acc-panel">
							<a href="tel:+14124603663"><span class="icon-phone"></span>412-460-3663</a>
							<a href="{{ link.pages-contact }}"><span class="icon-user"></span>Call a department</a>
						</div>
					</div><!--end .gi-->
					<div class="gi">
						<h3 class="nav-footer-item acc-handle"><a href="{{ link.pages-contact }}">Find Us</a></h3>
							<div class="acc-panel">
								<div class="vcard">
									<div class="adr">
										<div class="org fn">
											<div class="organization-name">{{ company.name }}</div>
										</div>
										<div class="street-address">1 North Linden Street</div>
										<span class="locality">Duquesne</span>, 
										<abbr title="Pennsylvania" class="region">PA</abbr>
										<span class="postal-code">15110</span>
									</div>
								</div>
								<a href="{{ link.pages-contact }}"><span class="icon-location"></span>Get Directions</a>
							</div>
					</div><!--end .gi-->
					<div class="gi">
						<h3 class="nav-footer-item acc-handle">If you need food</h3>
						<div class="acc-panel">
							<p>If you need food, please contact Hunger Services Network of the Urban League of Pittsburgh</p>
							<a href="tel:+14123250749"><span class="icon-phone"></span>412-325-0749</a>
							<a href="http://ulpgh.org/" rel="external"><span class="icon-link"></span>ulpgh.org</a>
						</div>
					</div><!--end .gi-->
				</div><!--end inner .g-2up-->
			</div><!--end .gi-->
			<div class="gi">
				<h3 class="nav-footer-item acc-handle">Stay Up to Date</h3>
				<div class="acc-panel">
					<p>Stay informed about our organization, upcoming events, stories of lives we have touched and news that impacts what we do.</p>
					{{> molecules-newsletter }}
					{{> molecules-social-nav }}
				</div>
			</div><!--end .gi-->
		</div><!--end .g-2up-->
		
		<div class="footer-meta">
			{{> atoms-logo }}
			<p class="copyright">&copy; 2014 All Rights Reserved. <a href="{{ link.pages-privacy-policy }}">View our Privacy Policy</a></p>
		</div>
	</div>
</footer>
<!-- End Footer -->