{{> organisms-donate }}
<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
	<div class="lc">
		<div >Contact information</div>
		<div>Footer navigation</div>
		{{> molecules-social-nav }}
		{{> molecules-newsletter }}
		<div class="copyright">&copy; 2013 Greater Pittsburgh Community Foodbank <a href="/privacy-policy">view the Privacy Policy</a></div>
	</div>
</footer>
<!-- End Footer -->
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> -->
<script src="../../js/jquery.js"></script>
<script src="../../js/jquery.mobile.custom.js"></script>
<script src="../../js/init.js"></script>