<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
	<div class="lc">
		<div >Donate form</div>
		<div >Contact information</div>
		<div>Footer navigation</div>
		<div>Social media links</div>
		<div>Newsletter signup</div>
		<div>Copyright info &amp; fine print</div>
	</div>
</footer>
<!-- End Footer -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="../../js/init.js"></script>