<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
	
	<div class="lc">		
		<div class="footer-meta">
			{{> atoms-logo }}
			<p class="copyright">© 2014 All Rights Reserved. <a href="#">View our Privacy Policy</a></p>
		</div>
	</div>
</footer>
<!-- End Footer -->