<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
	
	<div class="lc">		
		<div class="footer-meta">
			{{> atoms-logo }}
			<p class="copyright">&copy; 2014 All Rights Reserved.</p>
		</div>
	</div>
</footer>
<!-- End Footer -->