{{# ctaBanner }}
&lt;div class=&quot;banner cta-banner&quot;&gt;
	&lt;div class=&quot;lc&quot;&gt;
		&lt;p class=&quot;banner-text&quot;&gt;{{ excerpt.short }}&lt;/p&gt;
		&lt;a href=&quot;{{ url }}&quot; class=&quot;banner-cta text-btn&quot;&gt;{{ cta }}&lt;/a&gt;
	&lt;/div&gt;
&lt;/div&gt;
{{/ ctaBanner }}