<nav id="nav" class="nav" role="navigation">
	<ul>
		<li class="nav-li">
			<a href="#" class="nav-subnav-link">Programs<span class="icon-arrow-down5"></span></a>
			<ul class="nav-subnav">
				<li><a href="#">All Programs</a></li>
				<li><a href="#">Produce to People</a></li>
				<li><a href="#">Community Harvest</a></li>
				<li><a href="#">SNAP</a></li>
				<li><a href="#">Farm Stand Project</a></li>
				<li><a href="#">Summer Food</a></li>
				<li><a href="#">Commodity Supplemental Food Program</a></li>
				<li><a href="#">Nutrition</a></li>
				<li><a href="#">Agency Relations</a></li>
				<li><a href="#">Educational Programs</a></li>
			</ul>
		</li>
		<li class="nav-li"><a href="#">Get Help</a></li>
		<li class="nav-li">
			<a href="#" class="nav-subnav-link">Get Involved<span class="icon-arrow-down5"></span></a>
			<ul class="nav-subnav">
				<li><a href="#">Volunteer</a></li>
				<li><a href="#">Advocacy</a></li>
				<li><a href="#">Kids</a></li>
			</ul>
		</li>
		<li class="nav-li">
			<a href="#" class="nav-subnav-link">About<span class="icon-arrow-down5"></span></a>
			<ul class="nav-subnav">
				<li><a href="#">About Us</a></li>
				<li><a href="#">Operations</a></li>
				<li><a href="#">Board and Management</a></li>
				<li><a href="#">Jobs and Internships</a></li>
				<li><a href="#">Agencies</a></li>
				<li><a href="#">Donors</a></li>
				<li><a href="#">Sponsors</a></li>
				<li><a href="#">Finances</a></li>
				<li><a href="#">Fundraising Policy</a></li>
				<li><a href="#">Awards and Press</a></li>
			</ul>
		</li>
		<li class="nav-li">
			<a href="#" class="nav-subnav-link">Resources<span class="icon-arrow-down5"></span></a>
			<ul class="nav-subnav">
				<li><a href="#">Resource Center</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">About Hunger</a></li>
				<li><a href="#">Hunger Profiles</a></li>
				<li><a href="#">Food Sources</a></li>
				<li><a href="#">Advocacy Information</a></li>
				<li><a href="#">Links</a></li>
			</ul>
		</li>
		<li class="nav-li"><a href="#">News</a></li>
		<li class="nav-li"><a href="#">Events</a></li>
		<li class="nav-li"><a href="#">Contact</a></li>
		<li class="nav-li"><a href="#">Donate</a></li>
	</ul>
</nav><!--end .nav-->
