<nav id="nav" class="nav" role="navigation">
	<ul class="nav-action-list">
		<li><a href="{{ link.pages-get-help }}">Get Help<span class="icon-arrow-right5"></span></a></li>
		<li><a href="{{ link.pages-get-involved-landing }}">Give Help<span class="icon-arrow-right5"></span></a></li>
	</ul>
	<ul id="menu-main-menu" class="menu">
		<li class="menu-item menu-item-object-page menu-item-has-children">
			<a href="#">About</a>
			<ul class="sub-menu">
				<li><a href="{{ link.pages-about-landing }}">About Us</a></li>
				<li><a href="{{ link.pages-about-landing }}">Operations</a></li>
				<li><a href="{{ link.pages-about-landing }}">Board and Management</a></li>
				<li><a href="{{ link.pages-about-landing }}">Jobs and Internships</a></li>
				<li><a href="{{ link.pages-about-landing }}">Agencies</a></li>
				<li><a href="{{ link.pages-about-landing }}">Donors</a></li>
				<li><a href="{{ link.pages-about-landing }}">Sponsors</a></li>
				<li><a href="{{ link.pages-about-landing }}">Finances</a></li>
				<li><a href="{{ link.pages-about-landing }}">Fundraising Policy</a></li>
				<li><a href="{{ link.pages-about-landing }}">Awards and Press</a></li>
			</ul>
		</li>
		<li class="menu-item menu-item-object-page menu-item-has-children">
			<a href="#">What We Do</a>
			<ul class="sub-menu">
				<li><a href="{{ link.pages-program-landing }}">All Programs</a></li>
				<li><a href="{{ link.pages-program-detail }}">Produce to People</a></li>
				<li><a href="{{ link.pages-program-detail }}">Community Harvest</a></li>
				<li><a href="{{ link.pages-program-detail }}">SNAP</a></li>
				<li><a href="{{ link.pages-program-detail }}">Farm Stand Project</a></li>
				<li><a href="{{ link.pages-program-detail }}">Summer Food</a></li>
				<li><a href="{{ link.pages-program-detail }}">Commodity Supplemental Food Program</a></li>
				<li><a href="{{ link.pages-program-detail }}">Nutrition</a></li>
				<li><a href="{{ link.pages-program-detail }}">Agency Relations</a></li>
				<li><a href="{{ link.pages-program-detail }}">Educational Programs</a></li>
			</ul>
		</li>
		
		<li class="menu-item menu-item-object-page menu-item-has-children">
			<a href="#">Learn</a>
			<ul class="sub-menu">
				<li><a href="{{ link.pages-resources-landing }}">Resource Center</a></li>
				<li><a href="{{ link.pages-resources-faq }}">FAQ</a></li>
				<li><a href="{{ link.pages-resources-detail }}">About Hunger</a></li>
				<li><a href="{{ link.pages-resources-detail }}">Hunger Profiles</a></li>
				<li><a href="{{ link.pages-resources-detail }}">Food Sources</a></li>
				<li><a href="{{ link.pages-resources-detail }}">Advocacy Information</a></li>
				<li><a href="{{ link.pages-resources-detail }}">Links</a></li>
			</ul>
		</li>
		<li><a href="{{ link.pages-blog-landing }}">News</a></li>
		<li><a href="{{ link.pages-events-landing }}">Events</a></li>
		<li><a href="{{ link.pages-contact }}">Contact</a></li>
		<li class="menu-item-174"><a href="{{ link.pages-donate }}">Donate</a></li>
	</ul>
</nav><!--end .nav-->
