<nav role="navigation" class="nav-footer">
	<div class="g g-4up">
		<div class="gi">
			<h3 class="nav-footer-item acc-handle"><a href="#">Programs</a></h3>
			<ul class="acc-panel">
				<li><a href="{{ url }}">Produce to People</a></li>
				<li><a href="{{ url }}">Community Harvest</a></li>
				<li><a href="{{ url }}">SNAP</a></li>
				<li><a href="{{ url }}">Farm Stand Project</a></li>
				<li><a href="{{ url }}">Summer Food</a></li>
				<li><a href="{{ url }}">Commodity Supplemental Food</a></li>
				<li><a href="{{ url }}">Nutrition</a></li>
				<li><a href="{{ url }}">Agency Relations</a></li>
				<li><a href="{{ url }}">Educational Programs</a></li>
			</ul>
		</div>
		<div class="gi">
			<h3 class="nav-footer-item acc-handle"><a href="#">About</a></h3>
			<ul class="acc-panel">
				<li><a href="{{ url }}">About Us</a></li>
				<li><a href="{{ url }}">Operations</a></li>
				<li><a href="{{ url }}">Board and Management</a></li>
				<li><a href="{{ url }}">Jobs and Internships</a></li>
				<li><a href="{{ url }}">Agencies</a></li>
				<li><a href="{{ url }}">Donors</a></li>
				<li><a href="{{ url }}">Sponsors</a></li>
				<li><a href="{{ url }}">Finances</a></li>
				<li><a href="{{ url }}">Fundraising Policy</a></li>
			</ul>
		</div>
		<div class="gi">
			<h3 class="nav-footer-item acc-handle"><a href="#">Resources</a></h3>
			<ul class="acc-panel">
				<li><a href="{{ url }}">Resource Center</a></li>
				<li><a href="{{ url }}">FAQ</a></li>
				<li><a href="{{ url }}">About Hunger</a></li>
				<li><a href="{{ url }}">Hunger Profiles</a></li>
				<li><a href="{{ url }}">Food Sources</a></li>
				<li><a href="{{ url }}">Advocacy Information</a></li>
				<li><a href="{{ url }}">Links</a></li>
			</ul>
		</div>
		<div class="gi">			
			<h3 class="nav-footer-item acc-handle"><a href="{{ link.pages-events-landing }}">Upcoming Events</a></h3>
			<div class="acc-panel">
				<div class="block block-post-small">
					<h4 class="b-title"><a href="{{ url}}">Corpus Christi Parish Fish Fry</a></h4>
					<p class="b-timestamp">March 5 - April 18, 2014</p>
				</div>
				<a href="{{ link.pages-events-landing }}">View all events</a>
				<hr />
			</div>
			<h3 class="nav-footer-item acc-handle"><a href="#">Latest from the Blog</a></h3>
			<div class="acc-panel">
				<div class="block block-post-small">
					<h4 class="b-title"><a href="{{ url}}">Brad Paisley Concert Food Drive</a></h4>
					<p class="b-timestamp">March 23, 2014</p>
				</div>
				<a href="{{ link.pages-blog-landing }}">View all news</a>
			</div>
		</div>
	</div>
</nav>
