<nav role="navigation" class="nav-footer">
	<div class="g g-4up">
		<div class="gi">
			<h3><a href="#">Programs</a></h3>
			<ul>
				<li><a href="#">Produce to People</a></li>
				<li><a href="#">Community Harvest</a></li>
				<li><a href="#">SNAP</a></li>
				<li><a href="#">Farm Stand Project</a></li>
				<li><a href="#">Summer Food</a></li>
				<li><a href="#">Commodity Supplemental Food Program</a></li>
				<li><a href="#">Nutrition</a></li>
				<li><a href="#">Agency Relations</a></li>
				<li><a href="#">Educational Programs</a></li>
			</ul>
		</div>
		<div class="gi">
			<h3>About</h3>
			<ul>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Operations</a></li>
				<li><a href="#">Board and Management</a></li>
				<li><a href="#">Jobs and Internships</a></li>
				<li><a href="#">Agencies</a></li>
				<li><a href="#">Donors</a></li>
				<li><a href="#">Sponsors</a></li>
				<li><a href="#">Finances</a></li>
				<li><a href="#">Fundraising Policy</a></li>
			</ul>
		</div>
		<div class="gi">
			<h3>Resources</h3>
			<ul>
				<li><a href="#">Resource Center</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">About Hunger</a></li>
				<li><a href="#">Hunger Profiles</a></li>
				<li><a href="#">Food Sources</a></li>
				<li><a href="#">Advocacy Information</a></li>
				<li><a href="#">Links</a></li>
			</ul>
		</div>
		<div class="gi">
			<h3>Next Event</h3>
			<p><a href="#"><span class="icon-calendar"></span> Next Event</a></p>
			<a href="#" class="text-btn">All Events</a>
			<hr />
			<h3>Latest from the Blog</h3>
			<p><a href="#">The latest blog post</a></p>
			<a href="#" class="text-btn">View all news</a>
		</div>
	</div>
</nav>
