<nav id="nav-below" class="navigation" role="navigation">
	<div class="nav-previous"><a href="http://wordpress.pittsburghfoodbank.org/blog/page/2/"><span class="meta-nav">←</span> older</a></div>
<div class="nav-next"><a href="http://wordpress.pittsburghfoodbank.org/blog/page/2/">Newer <span class="meta-nav">&rarr;</span></a></div>
</nav>