{{&gt; organisms-donate }}
&lt;!-- Begin Footer --&gt;
&lt;footer class=&quot;footer&quot; role=&quot;contentinfo&quot;&gt;
	&lt;div class=&quot;lc&quot;&gt;		
		{{&gt; molecules-footer-nav }}
		&lt;hr /&gt;
		&lt;div class=&quot;g g-2up&quot;&gt;
			&lt;div class=&quot;gi&quot;&gt;
				&lt;h3&gt;Contact Us&lt;/h3&gt;
				&lt;div class=&quot;vcard&quot;&gt;
					
					&lt;div class=&quot;adr&quot;&gt;
						&lt;div class=&quot;org fn&quot;&gt;
							&lt;div class=&quot;organization-name&quot;&gt;&lt;span class=&quot;icon-location&quot;&gt;&lt;/span&gt;Greater Pittsburgh Community Food Bank&lt;/div&gt;
						&lt;/div&gt;
						&lt;div class=&quot;street-address&quot;&gt;1 North Linden Street&lt;/div&gt;
						&lt;span class=&quot;locality&quot;&gt;Duquesne&lt;/span&gt;, 
						&lt;abbr title=&quot;Pennsylvania&quot; class=&quot;region&quot;&gt;PA&lt;/abbr&gt;
						&lt;span class=&quot;postal-code&quot;&gt;15110&lt;/span&gt;
					&lt;/div&gt;
				&lt;/div&gt;

				&lt;div&gt;
					&lt;a href=&quot;tel:+14124603663&quot; class=&quot;text-btn&quot;&gt;&lt;span class=&quot;icon-phone&quot;&gt;&lt;/span&gt;412-460-3663&lt;/a&gt;
					&lt;a href=&quot;/contact&quot;&gt;&lt;span class=&quot;icon-mail&quot;&gt;&lt;/span&gt;Email us&lt;/a&gt;
				&lt;/div&gt;
				
			&lt;/div&gt;
			&lt;div class=&quot;gi&quot;&gt;
				&lt;h3&gt;Stay Up to Date&lt;/h3&gt;
				&lt;p&gt;Stay informed about our organization, upcoming events, stories of lives we have touched and news that impacts what we do.&lt;/p&gt;
				{{&gt; molecules-newsletter }}
				{{&gt; molecules-social-nav }}
			&lt;/div&gt;
		&lt;/div&gt;
		
		&lt;div class=&quot;copyright&quot;&gt;The Greater Pittsburgh Community Foodbank is a member of &lt;a href=&quot;http://feedingamerica.org/&quot; rel=&quot;external&quot; target=&quot;_blank&quot;&gt;Feeding America&lt;/a&gt; &lt;br /&gt;&lt;a href=&quot;/privacy-policy&quot;&gt;View our Privacy Policy&lt;/a&gt;&lt;/div&gt;
	&lt;/div&gt;
&lt;/footer&gt;
&lt;!-- End Footer --&gt;
&lt;!-- &lt;script src=&quot;//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js&quot;&gt;&lt;/script&gt; --&gt;
&lt;script src=&quot;../../js/jquery.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;../../js/jquery.mobile.custom.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;../../js/init.js&quot;&gt;&lt;/script&gt;