&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		&lt;div class=&quot;lc&quot;&gt;
			{{&gt; molecules-page-header }}
		&lt;/div&gt;
		&lt;div class=&quot;l-3col&quot;&gt;
			&lt;div class=&quot;l-main&quot;&gt;
				&lt;h2&gt;Executive Staff&lt;/h2&gt;
				&lt;div class=&quot;g g-half&quot;&gt;
					{{# execList }}
					&lt;div class=&quot;gi&quot;&gt;
						{{&gt; molecules-block-thumb-portrait-title }}
					&lt;/div&gt;
					{{/ execList }}
				&lt;/div&gt;
				&lt;hr /&gt;
				&lt;h2&gt;Board of Directors&lt;/h2&gt;
				&lt;div class=&quot;g g-half&quot;&gt;
					{{# boardList }}
					&lt;div class=&quot;gi&quot;&gt;
						{{&gt; molecules-block-title-excerpt }}
					&lt;/div&gt;
					{{/ boardList }}
				&lt;/div&gt;
				
			&lt;/div&gt;&lt;!--end .l-main--&gt;
			&lt;div class=&quot;l-sidebar&quot;&gt;
				{{&gt; molecules-section-nav }}
			&lt;/div&gt;&lt;!--end .l-sidebar--&gt;
			&lt;div class=&quot;l-sidebar2&quot;&gt;
				{{&gt; molecules-well }}
			&lt;/div&gt;&lt;!--end .l-sidebar2--&gt;
		&lt;/div&gt;&lt;!--end .l-3col--&gt;
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;