&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		&lt;div class=&quot;l-1col&quot;&gt;
			&lt;div class=&quot;l-main&quot;&gt;
				{{&gt; molecules-page-header }}
				&lt;div class=&quot;fpo&quot;&gt;Mission Statement&lt;/div&gt;
				&lt;div class=&quot;fpo&quot;&gt;Short description of the organization&lt;/div&gt;
				&lt;div class=&quot;fpo&quot;&gt;Links to sub-pages (history, operations, board, agencies, donors, sponsors, fundraising-policy, awards, finances)&lt;/div&gt;
			&lt;/div&gt;&lt;!--end .l-main--&gt;
		&lt;/div&gt;&lt;!--end .l-1col--&gt;
	&lt;/div&gt;&lt;!--end role=main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;