{{# well }}
<div class="well">
	<div class="lc lc-single">
		<h2 class="well-title">{{ headline.short }}</h2>
		<p class="well-desc">{{{ excerpt.short }}}</p>
		<a href="{{ url }}" class="btn">{{ cta }}</a>
	</div>
</div>
{{/ well }}