&lt;nav role=&quot;navigation&quot; class=&quot;nav-footer&quot;&gt;
	&lt;div class=&quot;g g-4up&quot;&gt;
		&lt;div class=&quot;gi&quot;&gt;
			&lt;h3&gt;&lt;a href=&quot;#&quot;&gt;Programs&lt;/a&gt;&lt;/h3&gt;
			&lt;ul&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Produce to People&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Community Harvest&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;SNAP&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Farm Stand Project&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Summer Food&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Commodity Supplemental Food Program&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Nutrition&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Agency Relations&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Educational Programs&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
		&lt;div class=&quot;gi&quot;&gt;
			&lt;h3&gt;&lt;a href=&quot;#&quot;&gt;About&lt;/a&gt;&lt;/h3&gt;
			&lt;ul&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;About Us&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Operations&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Board and Management&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Jobs and Internships&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Agencies&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Donors&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Sponsors&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Finances&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Fundraising Policy&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
		&lt;div class=&quot;gi&quot;&gt;
			&lt;h3&gt;&lt;a href=&quot;#&quot;&gt;Get Help&lt;/a&gt;&lt;/h3&gt;

			&lt;h3&gt;&lt;a href=&quot;#&quot;&gt;Resources&lt;/a&gt;&lt;/h3&gt;
			&lt;ul&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Resource Center&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;FAQ&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;About Hunger&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Hunger Profiles&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Food Sources&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Advocacy Information&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Links&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
		&lt;div class=&quot;gi&quot;&gt;
			&lt;h3&gt;Next Event&lt;/h3&gt;
			&lt;p&gt;&lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;icon-calendar&quot;&gt;&lt;/span&gt; Next Event&lt;/a&gt;&lt;/p&gt;
			&lt;a href=&quot;#&quot; class=&quot;text-btn&quot;&gt;All Events&lt;/a&gt;
			&lt;hr /&gt;
			&lt;h3&gt;Latest from the Blog&lt;/h3&gt;
			&lt;p&gt;&lt;a href=&quot;#&quot;&gt;The latest blog post&lt;/a&gt;&lt;/p&gt;
			&lt;a href=&quot;#&quot; class=&quot;text-btn&quot;&gt;View all news&lt;/a&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/nav&gt;
