{{# well }}
&lt;div class=&quot;well&quot;&gt;
	&lt;h2 class=&quot;well-title&quot;&gt;{{ headline.short }}&lt;/h2&gt;
	&lt;p class=&quot;well-desc&quot;&gt;{{{ excerpt.short }}}&lt;/p&gt;
	&lt;a href=&quot;{{ url }}&quot; class=&quot;text-btn&quot;&gt;{{ cta }}&lt;/a&gt;
&lt;/div&gt;
{{/ well }}