&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		&lt;div class=&quot;lc&quot;&gt;
			{{&gt; molecules-page-header }}
		&lt;/div&gt;
		&lt;div class=&quot;l-3col&quot;&gt;
			&lt;div class=&quot;l-main&quot;&gt;
				&lt;div class=&quot;fpo&quot;&gt;Program description&lt;/div&gt;
			&lt;/div&gt;
			&lt;div class=&quot;l-sidebar&quot;&gt;
				{{&gt; molecules-section-nav }}
			&lt;/div&gt;
			&lt;div class=&quot;l-sidebar2&quot;&gt;
				&lt;div class=&quot;fpo&quot;&gt;Program news (upcoming events, etc)&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;