&lt;div class=&quot;block block-post&quot;&gt;
	&lt;div class=&quot;b-body&quot;&gt;
		&lt;p class=&quot;b-timestamp&quot;&gt;&lt;a href=&quot;{{ url}}&quot;&gt;{{ timestamp }}&lt;/a&gt;&lt;/p&gt;
		&lt;h3 class=&quot;b-title&quot;&gt;&lt;a href=&quot;{{ url}}&quot;&gt;{{ headline.short }}&lt;/a&gt;&lt;/h3&gt;
		&lt;p class=&quot;b-excerpt&quot;&gt;{{ excerpt.short }}&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;