{{# sidebarEventList }}
<section class="widget tribe-events-list-widget">
	<h3 class="widgettitle"><a href="{{ link.pages-events }}">{{ headline.xs }}</a></h3>
	<ul class="sidebar-block-list post-list">
		{{# eventList }}
		<li class="block-headline-byline">
			<h4 class="b-title"><a href="#">{{ label }}</a></h4>
			<p class="b-excerpt byline">{{ date }}</p>
		</li>
		{{/ eventList }}
	</ul>
	{{> molecules-text-button }}
</section>
{{/ sidebarEventList }}