{{# sidebarTextList }}
<section class="widget sidebar-section">
	<h3 class="widgettitle">{{ headline.xs }}</h3>
	<ul class="text-list">
		{{# textList }}
		<li>
			<a href="{{ url }}">{{ label }}</a>
		</li>
		{{/ textList }}
	</ul>
</section>
{{/ sidebarTextList }}