{{# sidebarText }}
<section class="widget sidebar-section">
	<h3 class="widgettitle">{{ headline.xs }}</h3>
	<p class="sidebar-section-excerpt">{{ excerpt.medium }}
	{{> molecules-text-button }}
</section>
{{/ sidebarText }}