{{# well }}
<div class="well">
	<div class="lc lc-single">
		<h2 class="well-title">{{ headline.short }}</h2>
		<p class="well-desc">{{{ excerpt.short }}}</p>
		{{> molecules-search }}
	</div>
</div>
{{/ well }}