&lt;ul class=&quot;social-list&quot;&gt;
	&lt;li&gt;&lt;a href=&quot;http://www.facebook.com/pages/Greater-Pittsburgh-Community-Food-Bank/145889928474&quot; rel=&quot;external&quot; target=&quot;_blank&quot;&gt;&lt;span class=&quot;icon-facebook&quot;&gt;&lt;/span&gt;Like us on Facebook&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;http://www.twitter.com/pghfoodbank&quot; rel=&quot;external&quot; target=&quot;_blank&quot;&gt;&lt;span class=&quot;icon-twitter&quot;&gt;&lt;/span&gt;Follow us on Twitter&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;http://www.youtube.com/pittsburghfoodbank&quot; rel=&quot;external&quot; target=&quot;_blank&quot;&gt;&lt;span class=&quot;icon-youtube&quot;&gt;&lt;/span&gt;View our videos on Youtube&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;