.accordion {
	margin-bottom: $space;
}

.acc-handle {
	font-weight: bold;
	display: block;
	position: relative;
	padding: $pad 0;
	border-bottom: 1px solid $gray-light-3;
	margin: 0;

	&:after {
		content:"+";
		float: right;
	}
		
	&:hover, &:focus {
		cursor: pointer;
		background: $gray-light;

	}
	
	&.active {
		background: $gray-light;

		&:after {
			content:"-";
		}
	}
}

.acc-panel {
	display: none;
	padding: $pad 0;

	&.active {
		display: block;
	}
}

//Accordion to Full
.accordion-to-full {
	border-top: 1px solid $gray-light-3;
	margin-bottom: $space-double;

	@media all and (min-width: $bp-large) {
		border-top: 0;

		.acc-handle {
			padding: 0;
			margin-bottom: $space-half;
			border: 0;

			&:after {
				content : "";
			}
		}

		.acc-panel {
			display: block;
			padding: 0 0 $pad;
		}
	}
}