.accordion {
	margin-bottom: $space;
}

.acc-handle {
	font-weight: bold;
	display: block;
	position: relative;
	padding: $pad-half;
	border-bottom: 1px solid $gray-light-3;

	&:after {
		content:"+";
		float: right;
	}
		
	&:hover {
		color: $white;
		background: $gray-dark;

	}
	
	&.active {
		background: $gray-dark;

		&:after {
			content:"-";
		}
	}
}

.acc-panel {
	display: none;
	padding: $pad 0;

	&.active {
		display: block;
	}
}

//Accordion to Full
.accordion-to-full {
	@media all and (min-width: $bp-large) {
		.acc-handle {
			padding: 0;
			border: 0;

			&:after {
				content : "";
			}
		}

		.acc-panel {
			display: block;
			padding: 0 0 $pad;
		}
	}
}