																																																				//Banner
.banner {
	margin-bottom: $space-and-half;
}

//Hero Banner
.banner-hero {
	background: url(images/bg_hero_homepage.jpg) no-repeat 50% 0 $gray-dark;
	background-size: cover;
	color: $white;
	text-align: center;
	padding: 2em 0;

	@media all and (min-width: $bp-med) {
		padding: 4em 0;
	}
	
	@media all and (min-width: $bp-med) {
		padding: 16em 0 4em;
	}
}

.banner-hero-text {
	font-weight: normal;
	font-size: 2em;
	letter-spacing: -1px;
	margin: 0;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.6);

	br {
		display: none;

		@media all and (min-width: $bp-large) {
			display: inline-block;
		}
	}
	
	@media all and (min-width: $bp-small-3) {
		font-size: 3em;
		letter-spacing: -2px;
	}

	@media all and (min-width: $bp-med) {
		font-size: 4em;
	}
}

//CTA Banner
.banner-cta {
	color: $orange;
	background: url(images/icon_help_plus.png) no-repeat 50% 1em;
	text-align: center;
	padding: 5.5em $pad-half $pad-double;
	margin: 0;

	.banner-text {
		font-size: $font-size-large;
		max-width: 32em;
		margin: 0 auto;
	}

	.text-btn {
		color: $orange;
		font-size: $font-size-large-2;
	}
}

//Pattern Banner
.banner-pattern {
	height: 4em;
	background: url(images/patterns/pattern-tiles.png) #fbfef7;

	//Stripe Pattern
	&.stripes {
		background: url(images/patterns/pattern-stripes.png) #fbfef7;
	}
	
	//Tiles
	&.tiles {
		background: url(images/patterns/pattern-tiles.png) #fbfef7;
	}

	//Kiwi Pattern
	&.kiwis {
		background: url(images/patterns/pattern-kiwis.png) #f3f5d6;
	}
	
	//Cooking Patter
	&.cooking {
		background: url(images/patterns/pattern-cooking.png) #fbfef7;
	}
	
	//Gardening
	&.gardening {
		background: url(images/patterns/pattern-gardening.png) #fbfef7;
	}
	
	//groceries
	&.groceries {
		background: url(images/patterns/pattern-groceries.png) #fbfef7;
	}
	
	@media all and (min-width: $bp-med-2) {
		height: 15em;
	}
}