//Banner
.banner {
	margin-top: (-$pad);
	margin-bottom: $space;
}

//Hero Banner
.banner-hero {
	background: $gray-light-2;
	text-align: center;
	padding: 2em 0;

	@media all and (min-width: $bp-med) {
		padding: 4em 0;
	}
}

.banner-hero-text {
	font-size: 2em;
	margin: 0;

	br {
		display: none;

		@media all and (min-width: $bp-large) {
			display: inline-block;
		}
	}
	
	@media all and (min-width: $bp-small-3) {
		font-size: 3em;
	}

	@media all and (min-width: $bp-med) {
		font-size: 4em;
	}
}

//CTA Banner
.cta-banner {
	background: $gray-light;
	text-align: center;
	padding: $pad-double $pad-half;

	.banner-text {
		font-size: $font-size-large;
		max-width: 32em;
		margin: 0 auto;
	}

	.text-btn {
		font-size: $font-size-large-2;
	}
}

//Pattern Banner
.banner-pattern {
	height: 4em;
	background: $gray-light;

	&.kiwis {
		background: url(../../images/patterns/pattern-kiwis.png) #f3f5d6;
	}

	@media all and (min-width: $bp-med) {
		height: 15em;
	}
}