/* Generic FPO Block: REMOVE FOR PRODUCTION */
.fpo {
	background: #dcdddc;
	color: #888;
	padding: $pad-double;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid $gray-light-2;
}
/* End FPO: REMOVE FOR PRODUCTION */

/* Block */
.block {
	overflow: hidden;
}

.b-img {
	margin-bottom: $space-half;
}

.b-title {
	margin: 0;
}

.headline {
	line-height: 1.2;
}

/* Block Thumbnail with Headline */
.block-thumb {
	
}


/* Block Headline Summary */
.block-headline-summary {
	a {
		display: block;
		padding: $pad-half;
	}
}

/* Block Inset */
.block-inset {
	position: relative;

	.b-thumb {
		position: relative;
		z-index: 0;

		img {
			display: block;
		}
	}
}

/* Hero Block */
.block-inset {
	margin-bottom: $space-half;
	position: relative;

	.headline {
		font-size: 1.1em;
	}

	.b-text {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: $dim;
		color: $white;
		padding: $pad-half;
	}
}

/* Block Thumb with Summary */
.block-thumb-summary {
	.b-thumb {
		float: left;
		width: 50%;
	}

	.b-text {
		margin-left: 50%;
		padding: $pad-half;
	}
}