/* Generic FPO Block: REMOVE FOR PRODUCTION */
.fpo {
	background: red;
	color: #888;
	padding: $pad-double;
	text-align: center;
	font-weight: bold;
}

/* Block */
.block {
	overflow: hidden;

	img {
		border-radius: $border-radius;
	}
	
	&:hover, &:focus {
		.b-title {
			color: $green;
		}
	}
	
	.b-title a {
		&:hover, &:focus {
			color: $green;
		}
	}
}

.b-img {
	margin-bottom: $space-half;
}

.b-title {
	font-size: 1.4em;
	margin: 0;
}

.b-timestamp {
	margin: 0;
	font-style: italic;
}

.b-excerpt {
	margin: 0;
}

.headline {
	line-height: 1.2;
}

/* Block Thumbnail with Headline */
.block-post-small {
	.b-title {
		font-size: 100%;
	}
}


/* Block Headline Summary */
.block-headline-summary {
	a {
		display: block;
		padding: $pad-half;
	}
}

/* Block Inset */
.block-inset {
	position: relative;

	.b-thumb {
		position: relative;
		z-index: 0;

		img {
			display: block;
		}
	}
}

/* Hero Block */
.block-inset {
	margin-bottom: $space-half;
	position: relative;

	.headline {
		font-size: 1.1em;
	}

	.b-text {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: $dim;
		color: $white;
		padding: $pad-half;
	}
}

// Block Thumb with Summary
.block-thumb {
	padding: 0 1em;

	.b-title {
		font-weight: normal;
		font-size: 1.4em;
	}
	
	.b-img {
		width: 14em;
		height: 14em;
		border: 3px solid $gray-light-3;
		border-radius: 7em;
		margin: 0 auto 0.5em;
		overflow: hidden;
		transition: border-color 0.2s ease-out;
		display: flex;
		align-items: center;
		justify-content: center;
		
		img {
			display: block;
			margin: 0 auto;
			border-radius: 0;
			width: 100%;
		}
	}
	
	.b-title, .b-excerpt, .b-text {
		text-align: center;
	}
	
	.b-excerpt {
		color: $gray-dark;
		font-size: $font-size-sm-2;
		line-height: 1.3;
		margin-bottom: $space;
	}
	
	a:hover, a:focus {
		.b-img {
			border-color: $green;
		}
	}
}

.g-4up {
	.block-thumb {
		margin-bottom: $space-double;
	
		.b-title {
			font-size: 1.1em;
		}
	}
}

// Block Headline with Byline
.block-headline-byline {
	.b-title {
		margin: 0;
	}

	.b-excerpt {
		margin: 0;
	}
}

//Blog post block, Event post block
.block-post, .block-event {
	position: relative;
	padding-left: 6em;
	min-height: 6em;
	
	.b-byline {
		margin: 0;
		font-style: italic;
	}
	
	.b-timestamp {
		position: absolute;
		top: 0;
		left: 0;
		background: $gray-light-2;
		color: $black;
		font-style: normal;
		border-radius: 5em;
		line-height: 1;
		display: block;
		padding: 1.15em;
		width: 5em;
		height: 5em;
		text-align: center;
		text-transform: uppercase;
		
		&:hover, &:focus {
			background: $green;
			color: $white;
		}
	}
	
	.b-timestamp-month {
		display: block;
		font-size: 80%;
	}
	
	.b-timestamp-day {
		display: block;
		font-size: 140%;
	}
	
	.b-timestamp-year {
		display: block;
		font-size: 70%;
	}
	
	.tribe-events-gmap {
		display: none;
	}
}

//Text Block
.block-text {
	.b-title {
		font-size: 1.2em;	
	}
	
	.b-excerpt {
		font-size: $font-size-sm-2;
		color: $gray;
	}
}

//Block Contact
.block-contact {
	background: $white;
	border: 1px solid $gray-light-2;
	border-radius: $border-radius;
	padding: $pad;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	
	a {
		display: block;
		font-size: $font-size-sm-2;
	}
	
	.b-title {
		font-size: 1.2em;
		margin-bottom: 0.2em;
		font-weight: normal;
	}
	.b-phone {
		color: $gray;
		font-size: $font-size-sm-2;
	}
	
	.b-email {
		color: $gray;
		text-decoration: underline;
	}
	
	
}


//For Get Help Directory
.block-directory {
	font-size: 90%;
	transition: background 0.2 ease-out;

	.b-title {
		font-size: $font-size-large;
		font-weight: normal;
		color: $green;
	}
	
	.vcard {
		margin-bottom: $space-half;
	}
}

.js .block-directory:hover, .js .block-directory:focus {
	cursor: pointer;
}


//Block Recipe
.block-recipe {
	display: block;
	background: $white;
	border: 1px solid $gray-light-3;
	border-radius: $border-radius;
	padding: $pad;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	transition: all 0.2s ease-out;
	cursor: pointer;
	
	.b-title {
		font-size: 1.6em;
		margin-bottom: 0.2em;
		font-weight: normal;
	}
	
	.b-desc {
		font-size: 0.85em;
		line-height: 1.4;
		margin-bottom: 0.5em;
		color: $gray-dark;
	}
	
	.b-ingredients {
		font-size: 0.75em;
		line-height: 1.4;
		color: $gray;
		font-style: italic;
	}
	
	a {
		display: block;
	}
	
	&:hover, &:focus {
		border-color: $gray-light-3;
		box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
	}
}