/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
	display: inline-block;
	background: $green;
	border-bottom: 2px solid $green-dark;
	border-radius: $border-radius;
	color: $white;
	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;
	padding: $pad $pad-and-half;
	text-align: center;
	
	&:hover, &:focus {
		color: $white;
		background: $green-dark;
	}

	&.disabled {
		background: $gray-light-2;
		color: $gray-light-4;
	}
}

.btn-wide {
	padding: $pad $pad-double;
}

.btn-small {
	padding: $pad-half;
}

.btn-large {
	padding: $pad-half;
	text-transform: uppercase;
	background: $gray;
	font-size: 1.4rem;
	font-weight: normal;
}


.text-btn {
	font-weight: bold;
}