/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
	display: inline-block;
	background: $green;
	border-bottom: 2px solid $green-dark;
	border-radius: $border-radius;
	color: $white;
	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;
	padding: $pad $pad-and-half;
	text-align: center;
	position: relative;
	top: 0;
	outline: 0;
	transition: all 0.2s ease-out;
	
	.icon-arrow-right5 {
		position: relative;
		top: 1px;
	}
	
	&:hover, &:focus, &.active {
		color: $black;
		background: $gold;
		border-bottom-color: $gold-dark;
	}

	&:active {
		background: $gold-dark;
		top: 1px;
	}

	&.disabled {
		background: $gray-light-2;
		color: $gray-light-4;
	}
}

.btn-alt {
	background: $gray-light-3;
	color: $gray;
	border-bottom-color: $gray-light-4;
	
	&:hover, &:focus {
		
	}
}

.btn-wide {
	padding: $pad $pad-double;
}

.btn-small {
	font-size: $font-size-sm;
	padding: 0.85em 1em 0.7em;
}

.btn-large {
	padding: $pad-half;
	text-transform: uppercase;
	background: $gray;
	font-size: 1.4rem;
	font-weight: normal;
}


.text-btn {
	font-weight: bold;
}