.directory {
	@extend .cf;
}

.directory-list-container {
	@media all and (min-width: $bp-med-2) {
		float: left;
		width: 50%;
		padding-right: $pad;
	}
}

.directory-list {
	counter-reset: my-counter;
	border-top: 1px solid $gray-light-2;
	padding-top: $pad;
	
	> li {
		padding: 0 0 $pad 2.5em;
		margin-bottom: $space;
		border-bottom: 1px solid $gray-light-2;
		position: relative;
		
		&:last-child {
			border-bottom: 0;
			padding-bottom: 0;
		}

		&:before {
			content: counter(my-counter);
			counter-increment: my-counter;
			position: absolute;
			top: 0;
			left: 0;
			font-size: 85%;
			width: 1em;
			height: 1em;
			line-height: 1;
			background: $gold;
			color: $black;
			padding: $pad-half;
			text-align: center;
			border-radius: 4em;
		}
	}
	
	dd {
		border-bottom: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

.directory-map-container {
	overflow: hidden;
	border-radius: $border-radius;
	
	@media all and (min-width: $bp-med-2) {
		width: 50%;
		float: right;
	}
	
	iframe {
		border-radius: $border-radius !important;
	}
}