/* Donate Organism */
.donate {
	background: $gray-light-6;
	border-top: 1px solid $gray-light-3;
	padding: 2em $pad 4em;
	position: relative;
	z-index: 3;
	margin: 0 auto;
	transition: all 0.2s ease-out;
	
	.section-title {
		margin-bottom: $space;
	}
	
	.g {
		margin-bottom: 0;
	}
	
	.field-container {
		margin-bottom: $space-half;
	}
}

//Donate widget
.donate-widget {
	box-shadow: none;
	
	&:hover {
		box-shadow: inset 0 0 60px 10px rgba(0,0,0,0.05);
		background: $white;
	}
}

//Donation page
.donate-page {
	background: $white;
	border-top: 0;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 12em;
}

.donate-step {
	padding: 0;
	margin: 0;
	text-align: left;
	max-height: 50em;
	@include transition(max-height,0.5s,ease-out);

	&.closed {
		overflow: hidden;
		max-height: 0;
	}
}

.donate-step-legend {
	font-size: 1.1em;
	display: block;
	width: 100%;
	border-top: 1px solid $gray-light-3;
	padding-top: $pad-double;
	margin-bottom: $space;
	margin-top: $space-double;
}

//Expose first donate step by default
#donate-step-1 {
	max-height: none;
	
	.donate-step-legend {
		border-top: 0;
		padding-top: 0;
		margin-top: 0;
	}
}

//Chicklet List
.chicklet-list {
	@extend .cf;
	margin: 0 -0.5em;
	
	li {
		float: left;
		width: 50%;
		padding: 0 0.5em;
		margin-bottom: $space;
		position: relative;
		
		&:hover {
			.hover-tooltip {
				display: block;
				opacity: 1;
				bottom: 130%;
			}
		}
		
		@media all and (min-width: $bp-med) {
			width: 16.6666%%;
		}
	}
	
	label {
		display: block;
		font-size: $font-size-large;
		font-weight: normal;
		background: $green;
		color: $white;
		padding: 0.5em;
		text-align: center;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
		border-radius: $border-radius;
		cursor: pointer;
		transition: all 0.1s ease-out;
		
		&:hover, &:focus {
			background: $green-light;
			
		}
		
		&.active {
			background: $gold;
			color: $black;
			text-shadow: none;
		}
	}
	
	input[type=radio] {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
	}
	
	:checked  + label {
		background: $gold;
		color: $black;
		text-shadow: none;
	}	
	
	.input-container {
		position: relative;
		
		.input-addon {
			position: absolute;
			top: 0;
			left: 0;
			padding: 0.48em 0 0.48em 0.2em;
			font-size: $font-size-large;
			color: $green;
		}
	}
	
	input {
		font-size: $font-size-large;
		line-height: 1;
		border: 2px solid $green;
		padding: 0.55em 0.55em 0.55em 0.8em;
		color: $green;
	}
	
	::-webkit-input-placeholder {
	   line-height: 1;
	}
	
	:-moz-placeholder { /* Firefox 18- */
	   line-height: 1;  
	}
	
	::-moz-placeholder {  /* Firefox 19+ */
	   line-height: 1;  
	}
	
	:-ms-input-placeholder {  
	   line-height: 1;  
	}
}

.no-js {
	.chicklet-list {
		display: none;
	}
}


//Inline value of the donate message
.donate-slider-amount {
	color: $green;
	display: inline-block;
	width: 2em;
	text-align: right;

	//Initial state is blank and should be hidden
	&.blank { 
		display: none;
	}
}

.donate-messaging {
	position: relative;
}

.donate-range-container {
	padding-top: $pad-half;
	
	legend {
		text-align: center;
	}
}

.donate-form {
	@extend .cf;
}

.donate-slider-message {
	line-height: 1.1;
	text-align: center;

	a {
		text-decoration: underline;
	}
}

.ui-slider-track,
.ui-slider-switch {
	position: relative;
	overflow: visible;
	height: 15px;
	margin: 0 15px 0 68px;
}
.ui-slider-track.ui-mini {
	height: 12px;
	top: 8px;
}
.ui-slider-bg {
	border: none;
	height: 100%;
}

.ui-slider-handle .ui-btn-inner {
	padding: 0;
	height: 100%;
}

select.ui-slider-switch {
	display: none;
}
div.ui-slider-switch {
	display: inline-block;
	height: 32px;
	width: 5.8em;
	margin: .5em 0;
	top: 0;
}

.ui-slider-switch.ui-mini .ui-slider-handle {
	width: 25px;
	height: 25px;
	margin: 1px 0 0 -13px;
	padding: 0;
}
.ui-slider-handle-snapping {
	-webkit-transition: left 70ms linear;
	-moz-transition: left 70ms linear;
}

div.ui-slider {
	position: relative;
	height: 30px;
	margin: 2em 0;
	zoom: 1;

	.ui-slider-input {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
}

.ui-slider-handle {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 44px;
	height: 70px;
	margin: -49px 0 0 -20px;
	outline: 0;
	text-align: center;
	font-weight: bold;
	background: url(images/bg-donate-slider.png) no-repeat 0 100%;
	background-size: 100% auto;
	color: $green;
	@include transition(width,0.3s,ease-out);

	&:hover, &:focus {
		color: $green-dark;
	}
}

.ui-slider-track {
	margin: 0;
	background: $gray-light;
	-moz-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.4);
	box-shadow: inset 2px 2px 2px rgba(0,0,0,0.4);
	height: 40px;
	width: 100%;
	border-radius: 2em;
	border: 1px solid $gray-light-3;
}

.ui-slider-bg {
	background: $green;
	background: -moz-linear-gradient(top, $green-light 0%, $green-light 50%, $green 50%, $green 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$green-light), color-stop(50%,$green-light), color-stop(50%,$green), color-stop(100%,$green));
	background: -webkit-linear-gradient(top, $green-light 0%,$green-light 50%,$green 50%,$green 100%);
	background: -o-linear-gradient(top, $green-light 0%,$green-light 50%,$green 50%,$green 100%);
	background: -ms-linear-gradient(top, $green-light 0%,$green-light 50%,$green 50%,$green 100%);
	background: linear-gradient(to bottom, $green-light 0%,$green-light 50%,$green 50%,$green 100%);
	border-radius: 2em;
	border-bottom-right-radius: 0;
}

.js .credit-card-group label {
	display: none;
}

.payment-type {
	margin-bottom: $space;
	display: none;
	
	&.active {
		display: block
	}
}