/* Donate Organism */
.donate {
	border-top: 1px solid $gray;
	padding: 2em $pad 2em;
	position: relative;

	.section-title {
		font-size: 1.8em;
		color: $gold;
	}

	.lc {
		@media all and (min-width: $bp-med) {
			padding-right: 33%;
		}
	}

	@media all and (min-width: $bp-med) {
		background: url(../images/bg-fruit.png) no-repeat 100% 1em;
	}
}

.donate-step {
	padding: 0;
	margin: 0;
	max-height: 50em;
	@include transition(max-height,0.5s,ease-out);

	&.closed {
		overflow: hidden;
		max-height: 0;
	}
}

.donate-step-legend {
	display: block;
	width: 100%;
	border-top: 1px solid $gray-light-3;
	padding-top: $pad;
	margin-bottom: $space;
}

//Expose first donate step by default
#donate-step-1 {
	max-height: none;
}

//Inline value of the donate message
.donate-slider-amount {
	color: $green;
	display: inline-block;
	width: 2em;
	text-align: right;

	//Initial state is blank and should be hidden
	&.blank { 
		display: none;
	}
}

.donate-messaging {
	position: relative;
}

.donate-range-container {
	padding-top: $pad-half;
}

.donate-form {
	@extend .cf;
}

.donate-slider-message {
	line-height: 1.1;

	a {
		text-decoration: underline;
	}
}

.ui-slider-track,
.ui-slider-switch {
	position: relative;
	overflow: visible;
	height: 15px;
	margin: 0 15px 0 68px;
}
.ui-slider-track.ui-mini {
	height: 12px;
	top: 8px;
}
.ui-slider-bg {
	border: none;
	height: 100%;
}

.ui-slider-handle .ui-btn-inner {
	padding: 0;
	height: 100%;
}

select.ui-slider-switch {
	display: none;
}
div.ui-slider-switch {
	display: inline-block;
	height: 32px;
	width: 5.8em;
	margin: .5em 0;
	top: 0;
}

.ui-slider-switch.ui-mini .ui-slider-handle {
	width: 25px;
	height: 25px;
	margin: 1px 0 0 -13px;
	padding: 0;
}
.ui-slider-handle-snapping {
	-webkit-transition: left 70ms linear;
	-moz-transition: left 70ms linear;
}

div.ui-slider {
	position: relative;
	height: 30px;
	margin: 2em 0;
	zoom: 1;

	.ui-slider-input {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
}

.ui-slider-handle {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 44px;
	height: 70px;
	margin: -49px 0 0 -20px;
	outline: 0;
	text-align: center;
	font-weight: bold;
	background: url(../images/bg-donate-slider.png) no-repeat 0 100%;
	background-size: 100% auto;
	color: $green;
	@include transition(width,0.3s,ease-out);

	&:hover, &:focus {
		color: $green-dark;
	}
}

.ui-slider-track {
	margin: 0;
	background: $gray-light;
	-moz-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.4);
	box-shadow: inset 2px 2px 2px rgba(0,0,0,0.4);
	height: 40px;
	width: 100%;
	border-radius: 2em;
	border: 1px solid $gray-light-3;
}

.ui-slider-bg {
	background: $green;
	background: -moz-linear-gradient(top, $green-light 0%, $green-light 50%, $green 50%, $green 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$green-light), color-stop(50%,$green-light), color-stop(50%,$green), color-stop(100%,$green));
	background: -webkit-linear-gradient(top, $green-light 0%,$green-light 50%,$green 50%,$green 100%);
	background: -o-linear-gradient(top, $green-light 0%,$green-light 50%,$green 50%,$green 100%);
	background: -ms-linear-gradient(top, $green-light 0%,$green-light 50%,$green 50%,$green 100%);
	background: linear-gradient(to bottom, $green-light 0%,$green-light 50%,$green 50%,$green 100%);
	border-radius: 2em;
	border-bottom-right-radius: 0;
}

