/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
	clear: both;
	overflow: hidden;
	padding: $pad;
	background: $gray-dark-2;
	color: $gray-light;
	

	.lc {
		padding: $pad;
	}


	a {
		color: $gray-light;
	}

	
}

//Footer Nav

.copyright {
	margin: $space 0;
	font-size: $font-size-sm;

	@media all and (min-width: $bp-med) {
			text-align: center;
		}
}