/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
	clear: both;
	overflow: hidden;
	background: $gray-dark-2;
	color: $gray-light;
	padding: $pad 0;

	a {
		color: $gray-light;
	}

	legend {
		display: block;
		width: 100%;
		font-size: $font-size-sm-2;
		margin-bottom: $space;
		padding-bottom: $pad-half;
		border-bottom: 1px dashed $gray;
	}
}

//Footer Nav

.copyright {
	margin: $space 0;
	font-size: $font-size-sm;

	@media all and (min-width: $bp-med) {
			text-align: center;
		}
}