/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
	clear: both;
	overflow: hidden;
	background: $green;
	border-top: $border-med solid $gold;
	color: $white;
	padding: $pad 0;

	a {
		color: $gold;

		&:hover, &:focus {
			color: $white;
		}
	}

	h3 a {
		color: $white;

		&:hover, &:focus {
			color: $gold;
		}
	}

	li {
		line-height: 1.1;
		margin-bottom: $space;
	}

	.logo {
		display: block;
		margin: 0 auto;
		max-width: 12em;
	}

	@media all and (min-width: $bp-med) {
		padding: $pad-double 0;
	}
}

//Footer Meta
.footer-meta {
	margin-top: 2em;
}

//Copyright
.copyright {
	margin: $space-half 0;
	font-size: $font-size-sm;

	@media all and (min-width: $bp-med) {
			text-align: center;
		}
}