.header {
	position: relative;
	z-index: 2;
	background: $green;
	
	.lc {
		@extend .cf;

		@media all and (max-width: $bp-med) {
			padding: 0;
		}
	}

	a {
		color: $white;

		&:hover, &:focus {
			color: $gold;
		}
	}

	.logo-link {
		border-radius: $border-radius;
		display: block;
		padding: 0.5em 0.5em 0;
		float: left;

		&:hover, &:focus {
			background: $green-dark;
		}

		@media all and (min-width: $bp-med) {
			float: none;
			position: absolute;
			top: -0.5em;
			left: 0.5em;
		}

		@media all and (min-width: $bp-large) {
			left: 1.5em;
		}
	}

	@media all and (min-width: $bp-med) {
		padding: 1em 0;
	}

	@media all and (min-width: $bp-med) {
		padding: 2em 0 1.5em;
	}

	.logo {
		display: block;
		width: 128px;
		height: 55px;

		@media all and (min-width: $bp-med) {
			width: 12em;
			height: auto;
		}
	}
}

.nav-toggle {
	float: right;
	display: block;
	font-size: 1.3em;
	padding: 0.67em;
	margin: 0.25em 0.25em 0 0;

	line-height: 1;
	background: $green-dark;
	border-radius: $border-radius;


	&.active {
		background: $green-dark;
	}

	.nav-toggle-label {
		font-size: 70%;
		position: relative;
		top: -3px;

		@media all and (max-width: 19em) {
			display: none;
		}
	}

	.icon-menu2 {
		display: inline-block;
		margin-right: 3px;

		@media all and (max-width: 19em) {
			margin: 0;
		}
	}

	@media all and (min-width: $bp-med) {
		display: none;
	}

	@media all and (max-width: 18em) {
		padding-left: 0.5em;
		padding-right: 0.5em;			
	}
}

//Header Navigation Container
.header-nav-container {
	@media all and (min-width: $bp-med) {
		position: relative;
		margin-left: 13.5em;
	}

	@media all and (min-width: $bp-large) {
		margin-left: 13.5em;
	}
}

//Searh form in header
.header {
	.search-form {
		max-height: 0;
		overflow: hidden;
		margin: 0;

		&.active {
			max-height: 6em;
		}

		::-webkit-input-placeholder {
		   color: $green;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: $green;  
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: $green;  
		}

		:-ms-input-placeholder {  
		   color: $green;  
		}

		@media all and (min-width: $bp-med) {
			position: absolute;
			top: -0.1em;
			right: 0;
			max-height: none;
			width: 14em;
			overflow: visible;
		}

		@media all and (max-width: $bp-med) {
			clear: both;
		}

		&:hover, &:focus {
			.search-field {
				background: $white;
				color: $black;

				::-webkit-input-placeholder {
				   color: $black;
				}

				:-moz-placeholder { /* Firefox 18- */
				   color: $black;  
				}

				::-moz-placeholder {  /* Firefox 19+ */
				   color: $black;  
				}
			}
		}
	}

	.search-field {
		background: $green-dark;
		color: $white;
		padding: 0.4em 3em 0.4em 0.7em;
		border: 0;
		@include transition(background,0.3s,ease-out);

		&:focus, &:active {
			background: $white;
			color: $black;
			outline: 0;
		}

		@media all and (max-width: $bp-med) {
			border-radius: 0;
			font-size: $font-size-large;
			padding: 1em;
		}
	}

	.search-submit {
		padding: 0.5em 1em 0.3em;
		right: -1px;
		color: $green;
		border: 0;
		border-top-right-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		

		&:hover, &:focus {
			color: $black;
			outline: 0;
		}

		@media all and (max-width: $bp-med) {
			border-radius: 0;
			font-size: $font-size-large;
			padding: 1em;
		}
	}
}

// Search Form
.search-field {
	padding: 0.7em 3em 0.7em 0.7em;
	padding-right: 3em;
	margin: 0;
}

.search-submit {
	background: none;
	padding: 0.78em 1em;
	border: 0;
	border-left: 1px solid $green;	
}


//Simple Header, for use on third-party sites
.header-simple {
	.logo-link {
		position: relative;
		display: inline-block;
	}
}
