//Hero
.hero-text {
	background: $gray-light;


	form {
		max-width: 28em;
		
		@media all and (min-width: $bp-med) {
			margin: 0 auto;
		}
	}

	legend {
		text-align: left;
	}

	.page-intro {
		max-width: 27em;

		@media all and (min-width: $bp-med) {
			margin-left: auto;
			margin-right: auto;
		}
	}
}



//Hero main 
.hero-main {
	@extend .cf;

	.hero-body {
		padding: $pad 0 0;
	}

	.btn {
		margin-top: $space;
	}
	
	.hero-title {
		font-size: $font-size-large;
		margin-bottom: 0.1em;

		@media all and (min-width: $bp-large) {
			font-size: $font-size-xl;
		}
	}

	@media all and (min-width: $bp-large) {
		.hero-img {
			float: left;
			width: 50%;
		}

		.hero-body {
			float: left;
			width: 50%;
			padding: 0 $pad;
		}
	}

	@media all and (min-width: $bp-xl) {
		.eyebrow {
			margin-bottom: $space;
		}

		.hero-img {
			width: 66%;
			
			img {
				display: block;
				border-radius: $border-radius;
			}
		}

		.hero-body {
			width: 34%;
			padding-top: $pad;
		}
	}
}