//Hero
.hero-text {
	background: $gray-dark;


	form {
		max-width: 28em;
		
		@media all and (min-width: $bp-med) {
			margin: 0 auto;
		}
	}

	legend {
		text-align: left;
	}

	.page-intro {
		max-width: 27em;

		@media all and (min-width: $bp-med) {
			margin-left: auto;
			margin-right: auto;
		}
	}
}



//Hero main 
.hero-main {
	@extend .cf;
	margin-bottom: $space-double;

	.hero-body {
		padding: $pad 0 0;
	}

	.btn {
		margin-top: $space;
	}
	
	.hero-title {
		font-size: $font-size-large;
		font-weight: normal;
		margin-bottom: 0.1em;

		@media all and (min-width: $bp-med) {
			font-size: 3em;
		}
	}

	@media all and (min-width: $bp-med) {
		.hero-img {
			float: left;
			width: 50%;
		}

		.hero-body {
			float: left;
			width: 50%;
			padding: 0 $pad;
		}
	}
}