/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

/* Layout Container */
.lc {
	max-width: $max-width;	
	margin: 0 auto;
	padding: 0 $pad-half;

	@media all and (min-width: $bp-med) {
		padding: 0 $pad;
	}
}

/*------------------------------------*\
    $TEMPLATES
\*------------------------------------*/
.l-1col {
	@extend .cf;
	position: relative;

	.l-main {
		@extend .lc;
	}
}

//3 Column Layout - used for most page templates
.l-3col {
	@extend .lc;
	@extend .cf;
	position: relative;

	.l-main {
		@media all and (min-width: $bp-med-2) {
			margin-left: 13em;
			min-height: 27em; //Temporary min-height
		}

		@media all and (min-width: $bp-large) {
			margin-right: 15.5em;
		}
	}
	
	.l-sidebar {
		@media all and (min-width: $bp-med-2) {
			position: absolute;
			top: 0;
			left: $pad;
			width: 12em;
		}
	}

	.l-sidebar2 {
		@media all and (min-width: $bp-med-2) and (max-width: $bp-large) {
			margin-left: 13em;
		}

		@media all and (min-width: $bp-large) {
			position: absolute;
			top: 0;
			right: $pad;
			width: 14em;
		}
	}
}

//Centered single col
.l-centered-single-col {
	max-width: 45em;
	margin: 0 auto;
}


/*------------------------------------*\
    $GRIDS
\*------------------------------------*/

/* Grid Container */
.g {
	overflow: hidden;
	margin: 0 (-$pad-half);
}

/* Grid Item */
.gi {
	padding: $pad-half;
	
	img {
		display: block;
	}

	@media all and (min-width: $bp-med) {
		float: left;
	}
}

/* Grid 1up */
.g-1up {
	.gi {
		width: 100%;
	}
}

/* Grid 2up */
.g-2up {
	@media all and (min-width: $bp-med) {
		> .gi {
			float: left;
			width: 50%;
			
			&:nth-of-type(odd) {
				clear: left;
			}
		}
	}
}

/* Grid Half (Always displayed side by side) */
.g-half {
	> .gi {
		float: left;
		width: 50%;
		
		&:nth-of-type(odd) {
			clear: left;
		}
	}
}

/* Grid 3up */
.g-3up {
	@media all and (min-width: $bp-small-3) {
		> .gi {
			float: left;
			width: 50%;
			
			&:nth-of-type(2n+1) {
				clear: left;
			}
		}
	}
	
	@media all and (min-width: $bp-large) {
		> .gi {
			width: 33.3333333%;
			
			&:nth-of-type(2n+1) {
				clear: none;
			}
			
			&:nth-of-type(3n+1) {
				clear: left;
			}
		}
	}
}

/* Grid 4up */
.g-4up {
	@media all and (min-width: $bp-med) {
		>.gi {
			float: left;
			width: 50%;
			
			&:nth-of-type(2n+1) {
				clear: both;
			}
		}
	}
	
	@media all and (min-width: $bp-large) {
		>.gi {
			width: 25%;
			
			&:nth-of-type(2n+1) {
				clear: none;
			}
			
			&:nth-of-type(4n+1) {
				clear: left;
			}
		}
	}
}

/* Grid Quarter (Always displayed side by side) */
.g-quarter {
	> .gi {
		float: left;
		width: 24%;
		
		&:nth-of-type(4n+1) {
			clear: left;
		}
	}
}

.g-max4 {

	@media all and (min-width: $bp-small-2) {
		>.gi {
			float: left;
			width: 50%;
			
			&:nth-of-type(2n+1) {
				clear: both;
			}
		}
	}

	@media all and (min-width: $bp-small-3) {
		>.gi {
			width: 33.3333333%;
			
			&:nth-of-type(2n+1) {
				clear: none;
			}
			
			&:nth-of-type(3n+1) {
				clear: left;
			}
		}
	}
	
	@media all and (min-width: $bp-large) {
		>.gi {
			width: 25%;
			
			&:nth-of-type(3n+1) {
				clear: none;
			}
			
			&:nth-of-type(4n+1) {
				clear: left;
			}
		}
	}
}

/* Grid 5up */
.g-max5 {

	>.gi {
		float: left;
		width: 50%;
		
		&:nth-of-type(2n+1) {
			clear: both;
		}
	}

	@media all and (min-width: $bp-small-3) {
		>.gi {
			width: 33.3333333%;
			
			&:nth-of-type(2n+1) {
				clear: none;
			}
			
			&:nth-of-type(3n+1) {
				clear: left;
			}
		}
	}
	
	@media all and (min-width: $bp-med) {
		>.gi {
			width: 25%;
			
			&:nth-of-type(3n+1) {
				clear: none;
			}
			
			&:nth-of-type(4n+1) {
				clear: left;
			}
		}
	}

	@media all and (min-width: $bp-med-2) {
		>.gi {
			width: 20%;
			
			&:nth-of-type(4n+1) {
				clear: none;
			}
			
			&:nth-of-type(5n+1) {
				clear: left;
			}
		}
	}
}

/* Grid 2/3 */
.gi-2-3 {
	@media all and (min-width: $bp-med) {
		float: left;
		width: 66.666666%;
	}
}

.gi-1-3 {
	@media all and (min-width: $bp-med) {
		float: left;
		width: 33.333333%;
	}
}

/* Grid 4up block */
.g-opposites {
	.gi {
		float: left;
		
		&:last-child {
			float: right;
			text-align: right;
		}
	}
}

// Split Treatment
.split {
	overflow: hidden;
	background: $gray-light; 
	background: -moz-linear-gradient(left, $gray-light 0%, $gray-light 50%, $gray-light-2 50%, $gray-light-2 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,$gray-light), color-stop(50%,$gray-light), color-stop(50%,$gray-light-2), color-stop(100%,$gray-light-2));
	background: -webkit-linear-gradient(left, $gray-light 0%,$gray-light 50%,$gray-light-2 50%,$gray-light-2 100%);
	background: -o-linear-gradient(left, $gray-light 0%,$gray-light 50%,$gray-light-2 50%,$gray-light-2 100%);
	background: -ms-linear-gradient(left, $gray-light 0%,$gray-light 50%,$gray-light-2 50%,$gray-light-2 100%);
	background: linear-gradient(to right, $gray-light 0%,$gray-light 50%,$gray-light-2 50%,$gray-light-2 100%);
	
	.gi {
		padding: $pad $pad-double;
	}
}

.split-inner {
	max-width: $max-width/2;
}

.split-col-1 {
	.split-inner {
		
	}
}