/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
[role=main] {
	overflow: hidden;
	padding: $pad 0;

	.fpo:nth-child(even) {
		background: #e1e1e1;
	}
}