/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
[role=main] {
	overflow: hidden;
	padding: 0 $pad-half;
	
	@media all and (min-width: $bp-med) {
		padding: 0 $pad;
	}
	
	@media all and (min-width: $bp-large) {
		padding: 0 $pad-double;
	}
}