/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

//Nav Container
.nav {
	@extend .cf;
	

	[class^="icon-"] {
		position: relative;
		top: 4px;
		color: $green-dark;
	}

	@media all and (max-width: $bp-med) {
		max-height: 0;
		overflow: hidden;
		clear: both;

		&.active {
			max-height: 70em;
			background: $green-dark;
		}
	}
}

//Get Help/Give Help List
.nav-action-list {
	overflow: hidden;
	padding-bottom: 0.5em;
	border-bottom: 1px solid $green-dark;

	li {
		float: left;
		margin-right: 1em;
	}

	a {
		font-size: $font-size-large;
		font-weight: bold;
		color: $gold;

		&:hover, &:focus {
			color: $white;
		}
	}

	@media all and (max-width: $bp-med) {
		border-bottom: 0;
		padding: 0;

		li {
			float: left;
			width: 50%;
			margin: 0;

			&:last-child {
				border-left: 1px solid $green;
			}
		}

		a {
			display: block;
			text-align: center;
			padding: 0.7em 0;
		}

		[class^="icon-"] {
			color: $green;
		}
	}	
}

//Primary Navigation List
.nav-list {
	> li {
		position: relative;

		@media all and (min-width: $bp-med) {
			float:left;
			width: 25%;

			&:last-child {
				margin-right: 0;
			}
		}

		@media all and (min-width: 57em) {
			width: auto;
			margin-right: 0.5em;
		}

		@media all and (min-width: 59.8em) {
			margin-right: 1em;
		}

		@media all and (min-width: 69em) {
			margin-right: 2em;
		}

		@media all and (min-width: 77em) {
			margin-right: 3.6em;
		}
	}

	a {
		display: block;
		border-top: 1px solid $green;
		padding: 0.8em 0.5em;
		font-size: 110%;

		@media all and (min-width: $bp-med) {
			padding: 0.5em;
		}
	}

	.nav-donate {
		color: $gold;
		font-weight: bold;

		&:hover, &:focus {
			color: $white;
		}		
	}

	@media all and (min-width: $bp-med) {
		max-height: none;
		clear: both;
		margin: 0 -0.5em 0 -0.5em;
		
		a {
			border: 0;

			&.nav-subnav-link {
				display: inline-block;
			}
		}
	}
}

.nav-subnav-link {
	position: relative;
	@include transition(none,0.3s,ease-out);

	[class^="icon-"] {
		font-size: 75%;
		position: relative;
		top: 1px;
		left: 2px;
	}

	&:hover, &:focus {
		@include transition(color,0.3s,ease-out);
	}

	&.active {
		background: $green-dark;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		color: $gold;

		&:after {
			content: " ";
			position: absolute;
		    bottom: 1px;
		    right: -$border-radius;
		    width: $border-radius;
		    height: $border-radius;
		    border-bottom-left-radius: $border-radius;
	    	border-width: 0 0 1px 1px;
	    	box-shadow: -2px 2px 0 $green-dark;
		}

		> [class^="icon-"] {
			color: $gold;
			-webkit-animation: flip 0.2s forwards;
			-moz-animation:    flip 0.2s forwards;
			-o-animation:      flip 0.2s forwards;
			animation:         flip 0.2s forwards;
		}
	}

	@media all and (max-width: $bp-med) {
		[class^="icon-"] {
			color: $green;
		}
	}
}

.nav-subnav {
	display: none;

	&.active {
		display: block;
		background: $green;
	}

	@media all and (min-width: $bp-med) {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 2;
		background: $green-dark;
		border-radius: $border-radius;
		border-top-left-radius: 0;
		line-height: 1.2;
		padding: 0.5em;
		min-width: 15em;

		&.active {
			background: $green-dark;
		}
	}
}

//Pagination
.pagination {
	overflow: hidden;
	margin-bottom: $space;
}

// Section Nav
.section-nav-title {
	margin-bottom: 0;
}

.section-nav-list {
	li {
		border-bottom: 1px dotted $gray;
	}

	a {
		display: block;
		padding: $pad-half 0;
	}
}

@-webkit-keyframes flip {
  0%   { -webkit-transform: rotate(0); }
  100% { -webkit-transform: rotate(180deg); }
}
@-moz-keyframes flip {
  0%   { -moz-transform: rotate(0); }
  100% { -moz-transform: rotate(180deg); }
}
@-o-keyframes flip {
  0%   { -o-transform: rotate(0); }
  100% { -o-transform: rotate(180deg); }
}
@keyframes flip {
  0%   { transform: rotate(0); }
  100% { transform: rotate(180deg); }
}