/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.nav {
	@extend .cf;
	clear: both;
	max-height: 0;
	
	a {
		display: block;
		border-top: 1px solid $gray-light-2;
	}

	&.active {
		max-height: 40em;
	}

	@media all and (min-width: $bp-med) {
		max-height: none;
		float: right;
		clear: none;
		margin: 1em 1em 0 0;

		> ul > li {
			float: left;
			margin-right: 1em;
		}

		a {
			border: 0;
		}
		
	}
}

.nav-li {
	position: relative;

	> a {
		font-size: 110%;
	}
}

.nav-subnav-link {
	.icon-arrow-down {
		position: relative;
		top: 2px;
		left: -2px;
	}
}

.nav-subnav {
	@media all and (min-width: $bp-med) {
		position: absolute;
		top: 100%;
		left: -0.5em;
		background: $white;
		padding: 0.5em;
		min-width: 12em;
		border: 1px solid $gray-light-2;
		display: none;

		&.active {
			display: block;
		}
	}
}

//Pagination
.pagination {
	overflow: hidden;

	li {
		float: left;
		border-right: 1px solid $gray-light-2;

		&:last-child {
			border: 0;
		}
	}

	a {
		padding: $pad;
	}
}