//Page Header
.page-header {
	@extend .lc;
	text-align: center;
	padding: $pad 0;
	max-width: 50em;
	
	@media all and (min-width: $bp-small-2) {
		padding: $pad-double 0;
	}
}

.page-intro {
	line-height: 1.3;
	color: $gray;
	margin: 0;
	
	&:empty {
		display: block !important;
		background: #d63232;
		color: white;
		
		&:before {
			content: "Page must contain a 140-character-or-less page tagline"
		}
	}
	
	@media all and (min-width: $bp-small-2) {
		font-size: $font-size-large;
	}
}

.byline {
	font-size: $font-size-sm-2;
	font-style: italic;
	margin-bottom: $space-half;
}

/* Wordpress Caption */
.wp-caption-text {
	font-style: italic;
}

//Social Share
.social-share {
	overflow: hidden;
	margin-bottom: $space;

	li {
		float: left;
		margin-right: $space-quarter;
	}

	a {
		background: $gray-dark;
		color: $white;
		display: block;
		padding: $pad-half;

		&:hover {
			background: $gray;
		}
	}
}