//Article
.page-title {
	font-size: $font-size-large-2;
	margin-bottom: 0.1em;

	@media all and (min-width: $bp-med) {
		font-size: $font-size-large-3;
	}

	@media all and (min-width: $bp-large) {
		font-size: $font-size-xl;
		line-height: 1.1;
	}
}

.page-intro {
	font-size: $font-size-large;
	line-height: 1.3;
}

.byline {
	font-size: $font-size-sm-2;
	font-style: italic;
	margin-bottom: $space-half;
}

/* Wordpress Caption */
.wp-caption-text {
	font-style: italic;
}

//Social Share
.social-share {
	overflow: hidden;
	margin-bottom: $space;

	li {
		float: left;
		margin-right: $space-quarter;
	}

	a {
		background: $gray-dark;
		color: $white;
		display: block;
		padding: $pad-half;

		&:hover {
			background: $gray;
		}
	}
}