//Page Header
.page-header {
	background: url(images/bg_hero_corn.jpg) no-repeat $gray-dark;
	background-size: cover;
	text-align: center;
	color: $white;
	margin-bottom: $space;
	padding: $pad;
	
	form {
		margin: $space auto;
		max-width: 32em;
	}
	
	.btn {
		display: inline-block;
		margin: 1em auto;
	}
	
	&.carrots {
		background-image: url(images/bg_hero_carrots.jpg);
	}
	
	&.beets {
		background-image: url(images/bg_hero_beets.jpg);
	}
	
	&.corn {
		background-image: url(images/bg_hero_corn.jpg);
	}
	
	&.cucumbers {
		background-image: url(images/bg_hero_cucumbers.jpg);
	}
	
	&.eggs {
		background-image: url(images/bg_hero_eggs.jpg);
	}
	
	&.lettuce {
		background-image: url(images/bg_hero_lettuce.jpg);
	}
	
	&.onions {
		background-image: url(images/bg_hero_onions.jpg);
	}
	
	&.peppers {
		background-image: url(images/bg_hero_peppers.jpg);
	}
	
	&.peppers2 {
		background-image: url(images/bg_hero_peppersdos.jpg);
	}
	
	&.potatoes {
		background-image: url(images/bg_hero_potatoes.jpg);
	}
	
	&.pumpkins {
		background-image: url(images/bg_hero_pumpkins.jpg);
	}
	
	&.squash {
		background-image: url(images/bg_hero_squash.jpg);
	}
	
	&.tomatoes {
		background-image: url(images/bg_hero_tomatoes.jpg);
	}
	
	@media all and (min-width: $bp-small-2) {
		padding: $pad-double $pad;
	}
	
	@media all and (min-width: $bp-large) {
		padding: 4em $pad;
	}
}

.page-header-inner {
	text-align: center;
	padding: $pad 0;
	max-width: 50em;
}

.page-title {
	max-width: 20em;
	margin: 0 auto $space-half;
}

.page-intro {
	line-height: 1.3;
	color: $white;
	margin: 0 auto;
	max-width: 30em;
	
	&:empty {
		display: block !important;
		background: #d63232;
		color: white;
		
		&:before {
			content: "Page must contain a 140-character-or-less page tagline"
		}
	}
	
	@media all and (min-width: $bp-small-2) {
		font-size: $font-size-large;
	}
}

.byline {
	font-size: $font-size-sm-2;
	font-style: italic;
	margin-bottom: $space-half;
}

/* Wordpress Caption */
.wp-caption-text {
	font-style: italic;
}

//Social Share
.social-share {
	overflow: hidden;
	margin-bottom: $space;

	li {
		float: left;
		margin-right: $space-quarter;
	}

	a {
		background: $gray-dark;
		color: $white;
		display: block;
		padding: $pad-half;

		&:hover {
			background: $gray;
		}
	}
}