.section {
	margin: 0 0 $space;
}

.section-title {
	font-size: $font-size-large-3;
	font-weight: normal;
	margin-bottom: 0;
}

.section-img {
	img {
		border-radius: $border-radius;
	}
}

//Section Block
.section-block {
	overflow: hidden;

	.section-body {
		float: left;
		width: 50%;
		padding-right: 1.5em;
	}

	.section-img {
		float: left;
		width: 50%;
	}
}

//Sidebar Sections

//Sidebar Post List
.sidebar-section {
	background: $gray-light;
	padding: 3em $pad $pad;
	border-radius: $border-radius;
	margin-bottom: 3em;
	position: relative;

	
	&:before {
		content: "";
		display: block;
		width: 4em;
		height: 4em;
		border: 0.5em solid $gray-light;
		border-radius: 2.5em;
		position: absolute;
		top: -2.5em;
		left: 50%;
		margin-left: -2.5em;
		
		background: url(images/icon_carrot.png) no-repeat 50% 50% #fff;
	}
}

.sidebar-section-events {
	&:before {
		background-image: url(images/icon_calendar.png);
	}
}

.sidebar-section-title {
	color: $gray;
	font-size: 1.2em;
	text-align: center;
}