.section {
	margin: 0 0 $space;
	
	.text-list {
		text-align: center;
	}
}

.section-alt {
	background: $gray-light-2;
	padding: $pad-double 0;
}

.section-title {
	font-size: $font-size-large-2;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 0;
	text-align: center;
}

.section-desc {
	text-align: center;
	margin: 0 auto $space;
	max-width: 30em;
}

.section-img {
	img {
		border-radius: $border-radius;
	}
}

//Section Block
.section-block {
	overflow: hidden;

	.section-body {
		float: left;
		width: 50%;
		padding-left: 1.5em;
	}

	.section-img {
		float: left;
		width: 50%;
	}
}

//Sidebar Sections

//Sidebar Post List
.widget, .widget-container {
	background: $gray-light;
	padding: 2.5em $pad $pad;
	border-radius: $border-radius;
	margin-bottom: 3em;
	position: relative;

	
	&:before {
		content: "";
		display: block;
		width: 3em;
		height: 3em;
		border: 0.5em solid $gray-light;
		border-radius: 3em;
		position: absolute;
		top: -1.5em;
		left: 50%;
		margin-left: -2em;
		
		background: url(images/icon_carrot.png) no-repeat 50% 50% #fff;
	}
	
	.b-excerpt {
		color: $gray;
	}
	
	.text-btn {
		display: block;
		margin: 1em 0 0;
		color: #c14903;
		text-align: center;
	}
}

.tribe-events-list-widget {
	&:before {
		background-image: url(images/icon_calendar.png);
	}
}

.widgettitle {
	color: $gray;
	font-size: 1.2em;
	text-align: center;
	
	a {
		color: $gray;
		
		&:hover, &:focus {
			color: $green;
		}
	}
}