.section {
	margin: 0 0 $space;
	@extend .cf;
	
	.text-list {
		text-align: center;
	}
}

.section-alt {
	background: $gray-light-6;
	padding: $pad-double 0;
	margin-bottom: 0;
}

.section-pad {
	padding: $pad-double 0;
}

.section-header {
	margin-bottom: $space;
}

.section-title {
	font-size: $font-size-large-2;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 0;
	text-align: center;
}

.section-desc {
	text-align: center;
	margin: 0 auto 0;
	max-width: 30em;
}

.section-intro {
	font-size: $font-size-large;
	text-align: center;
}

.section-img {
	img {
		border-radius: $border-radius;
	}
}

//Section Block
.section-block {
	overflow: hidden;

	.section-body {
		float: left;
		width: 50%;
		padding-left: 1.5em;
	}

	.section-img {
		float: left;
		width: 50%;
	}
}

//Homepage Design

//Homepage touts
.section-homepage-touts {
	margin-bottom: 2em;
}

//Homepage Give/Get Help section
.section-shade-2 {
	background: url(images/bg_section_shadow_2.png) no-repeat 50% 4em;
	
	.lc {
		max-width: 62em;
	}
	
	.section-intro {
		margin-bottom: $space-double;
	}
}

//Homepage About Section
.section-shade {
	background: url(images/bg_section_shadow.png) no-repeat 50% 0;
	padding-top: 2em;
	
	.section-title {
		text-transform: none;
		margin-bottom: 0.4em;
	}
	
	.section-desc {
		margin-bottom: $space;
		max-width: 44em;
		font-size: 1.2em;
	}
	
	.text-list {
		a {
			color: $green;
			font-size: 1.2em;
			
			
			&:hover, &:focus {
				color: $green-dark;
			}
		}
	}
}


.icon-grocery-bag {
	display: block;
	width: 217px;
	height: 297px;
	background: url(images/icon_grocery_bag.png) no-repeat 50% 50%;
	margin: 0 auto $space;
}

.icon-plate {
	display: block;
	width: 323px;
	height: 232px;
	background: url(images/icon_plate.png) no-repeat 50% 50%;
	margin: 0 auto $space-double;
}

.list-section {
	text-align: left;
	margin-bottom: $space;
	padding-left: 8em;
	
	.text-list {
		text-align: left;
		
		a {
			color: $green;
			
			&:hover, &:focus {
				color: $green-dark;
			}
		}
	}
	
	@media all and (min-width: $bp-large) {
		float: left;
		width: 50%;
	}
}

.list-section-get-help {
	background: url(images/icon_help_plus_green.svg) no-repeat 0 1em;
	background-size: 105px;
}

.list-section-give-help {
	background: url(images/icon_help_heart_green.svg) no-repeat 0 1em;
	background-size: 105px;
}

.no-svg {
	.list-section-get-help {
		background-image: url(images/icon_help_plus_green.png);
	}
	
	.list-section-give-help {
		background-image: url(images/icon_help_heart_green.png);
	}
}