/*------------------------------------*\
    $TABS
\*------------------------------------*/
.tabs {
	border-bottom: 1px solid $gray-light-2;
	margin-bottom: $space;
	
	li {
		display: inline-block;
		text-align: center;
		margin-right: 0.3em;
		padding: $pad $pad-and-half;
		background: $gray-light-2;
		border: 1px solid $gray-light-2;
		border-top-right-radius: $border-radius;
		border-top-left-radius: $border-radius;
		
		position: relative;
		bottom: -1px;
		font-weight: bold;
		cursor: pointer;

		&:hover, &:focus {
			background: $gray-light-2;
		}

		&.active, &.tribe-bar-active {
			background: $white;
			border-bottom-color: $white;
		}
	}
}