// Well
.well {
	background: $info;
	border: 1px solid $gray-light-2;
	border-radius: $border-radius;
	padding: $pad;
	margin-bottom: $space;
	
	@media all and (min-width: $bp-med-2) {
		margin-bottom: 0;
	}
}

.well-title {
	margin: 0;
}

// Info Box
.info-box {
	@extend .well;
}
