
//Sidebar Post List
.widget, .widget-container {
	padding: 0 $pad $pad 5em;
	border-radius: $border-radius;
	margin-bottom: 3em;
	position: relative;

	
	&:before {
		content: "";
		display: block;
		width: 3em;
		height: 3em;
		border: 0.5em solid $gray-light-2;
		border-radius: 3em;
		position: absolute;
		top: 0;
		left: 0;
		background: url(images/icon_carrot.png) no-repeat 50% 50% #fff;
	}
	
	.b-excerpt {
		color: $gray;
	}
	
	h4 {
		margin: 0;
	}
	
	ul, ol {
		list-style: none;
		border-top: 1px solid $gray-light-2;
		
		li {
			border-bottom: 1px solid $gray-light-2;
			padding: $pad-half 0;
			
			a {
				font-weight: bold;
				color: $black;
				
				&:hover, &:focus {
					color: $green;
				}
			}
		}
	}
	
	.post-date {
		display: block;
		color: $gray;
		font-style: italic;
	}
	
	.text-btn {
		margin: 1em 0 0;
		color: #c14903;
		display: block;
	}
	
	@media all and (min-width: $bp-med) {
		float: left;
		width: 50%;
		padding-right: 2em;
	}
}

.tribe-events-list-widget {
	&:before {
		background-image: url(images/icon_calendar.png);
	}
}

.widgettitle {
	color: $green;
	font-size: 1.6em;
	
	a {
		color: $green;
		
		&:hover, &:focus {
			color: $green-dark;
		}
	}
}