&lt;ul class=&quot;icons inline-list demo-icons&quot;&gt;
	&lt;li class=&quot;icon-facebook&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-twitter&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-youtube&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-menu&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-earth&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-bubble&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-bubble2&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-home&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-camera&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-phone&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-clock&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-clock2&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-calendar&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-calendar2&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-quotes-left&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-pie&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-stats&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-accessibility&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-truck&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-heart&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-star&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-happy&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-sad&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-checkmark-circle&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-cancel-circle&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-icon-info&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-close&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-checkmark&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-checkmark2&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-minus&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-plus&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-mail&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-minus&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-flag&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-search&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-arrow-down&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-arrow-up&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-arrow-left&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-arrow-right&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-arrow-down2&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-arrow-up2&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-arrow-left2&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-arrow-right2&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-location&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;