&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		&lt;div class=&quot;l-1col&quot;&gt;
			&lt;div class=&quot;l-main&quot;&gt;
				&lt;div class=&quot;fpo&quot;&gt;
					Mission Tagline
				&lt;/div&gt;
				&lt;div class=&quot;fpo&quot;&gt;
					Campaign
				&lt;/div&gt;
				&lt;div class=&quot;fpo&quot;&gt;
					Get Help
				&lt;/div&gt;
				&lt;div class=&quot;fpo&quot;&gt;
					Give Help
				&lt;/div&gt;
				&lt;div class=&quot;fpo&quot;&gt;
					Learn More
				&lt;/div&gt;
			&lt;/div&gt;&lt;!--end .l-main--&gt;
		&lt;/div&gt;&lt;!--end .l-1col--&gt;
		
		

	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;