&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		&lt;div class=&quot;l-1col&quot;&gt;
			&lt;div class=&quot;l-main&quot;&gt;
				&lt;h1 class=&quot;fpo&quot;&gt;404 Page Not Found&lt;/h1&gt;
				&lt;div class=&quot;fpo&quot;&gt;Brief Explanation&lt;/div&gt;
				&lt;div class=&quot;fpo&quot;&gt;Common links (homepage, get help, give help, etc)&lt;/div&gt;
			&lt;/div&gt;&lt;!--end .l-main--&gt;
		&lt;/div&gt;&lt;!--end .l-1col--&gt;
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;