{{# sidebarEventList }}
&lt;section class=&quot;section sidebar-section event-section&quot;&gt;
	&lt;h3 class=&quot;sidebar-section-title&quot;&gt;{{ headline.xs }}&lt;/h3&gt;
	&lt;ul class=&quot;sidebar-block-list post-list&quot;&gt;
		{{# eventList }}
		&lt;li class=&quot;block-headline-byline&quot;&gt;
			&lt;h4 class=&quot;b-title&quot;&gt;&lt;a href=&quot;#&quot;&gt;{{ label }}&lt;/a&gt;&lt;/h4&gt;
			&lt;p class=&quot;b-excerpt byline&quot;&gt;{{ date }}&lt;/p&gt;
		&lt;/li&gt;
		{{/ eventList }}
	&lt;/ul&gt;
&lt;/section&gt;
{{/ sidebarEventList }}