<div class="block block-post">
	<div class="b-body">
		<a href="{{ url}}" class="b-timestamp">{{ timestamp }}</a>
		<h3 class="b-title"><a href="{{ url}}">{{ headline.short }}</a></h3>
		<p class="b-excerpt">{{ excerpt.short }}</p>
	</div>
</div>