<div class="block block-event">
	<div class="b-body">
		<a href="{{ url }}" class="b-timestamp">
			<span class="b-timestamp-month">{{ timestamp.month }}</span>
			<span class="b-timestamp-day">{{ timestamp.day }}</span>
			<span class="b-timestamp-year">{{ timestamp.year }}</span>
		</a>
		<h3 class="b-title"><a href="{{ url}}">{{ headline.short }}</a></h3>
		<p class="b-byline">{{ location }}</p>
		<p class="b-excerpt">{{ excerpt.short }}</p>
	</div>
</div>