<div class="block block-event">
	<div class="b-body">
		<p class="b-timestamp"><a href="{{ url}}">{{ timestamp }}</a></p>
		<h3 class="b-title"><a href="{{ url}}">{{ headline.short }}</a></h3>
		<p class="b-byline">{{ location }}</p>
		<p class="b-excerpt">{{ excerpt.short }}</p>
	</div>
</div>