<div class="block block-contact">
	<div class="b-body">
		<h3 class="b-title">{{ name }}</h3>
		<a href="{{ url }}" class="b-phone">{{ phone }}</a>
		<a href="{{ url }}" class="b-email">{{ email }}</a>
	</div>
</div>