<div class="block block-directory">
	<div class="vcard">
		<div class="adr">
			<div class="org fn">
				<h3 class="organization-name b-title">Our Lady of the Angels</h3>
			</div>
			<div class="street-address">204 37th Street</div>
			<span class="locality">Lawrenceville</span>, 
			<abbr title="Pennsylvania" class="region">PA</abbr>
			<span class="postal-code">15201</span>
			<div class="tel">412-682-3877</div>
		</div>
	</div>
	<dl class="block-directory-extra">
		<dt>Operating Hours</dt>
		<dd>Mondays and Tuesdays (11 AM - 12:30 PM)</dd>
		<dt>Contact</dt>
		<dd>Fran McFadden</dd>
		<dt>Type of Program</dt>
		<dd>This is a food pantry. A food pantry is an organization that stores and distributes food to individuals, usually in the form of weekly or monthly grocery bags.  

</dd>
	</dl>
</div>
