<a href="#" class="block block-recipe">
	<h3 class="b-title">{{ title }}</h3>
	<p class="b-desc">{{ excerpt }}</p>
	<p class="b-ingredients">You have <strong>{{ ingredientsHas }}</strong> of <strong>{{ ingredientsTotal }}</strong> ingredients for this recipe.</p>
	<button class="btn btn-small">View Recipe</button>
</a>
