{{# sidebarTextList }}
&lt;section class=&quot;section sidebar-section&quot;&gt;
	&lt;h3 class=&quot;sidebar-section-title&quot;&gt;{{ headline.xs }}&lt;/h3&gt;
	&lt;ul class=&quot;text-list&quot;&gt;
		{{# textList }}
		&lt;li&gt;
			&lt;a href=&quot;{{ url }}&quot;&gt;{{ label }}&lt;/a&gt;
		&lt;/li&gt;
		{{/ textList }}
	&lt;/ul&gt;
&lt;/section&gt;
{{/ sidebarTextList }}