{{# ctaBanner }}
<div class="banner banner-cta">
	<div class="lc">
		<p class="banner-text">{{ excerpt.short }}</p>
		<a href="{{ url }}" class="text-btn">{{ cta }}</a>
	</div>
</div>
{{/ ctaBanner }}