{{# ctaBanner }}
<div class="banner cta-banner">
	<div class="lc">
		<p class="banner-text">{{ excerpt.short }}</p>
		<a href="{{ url }}" class="banner-cta text-btn">{{ cta }}</a>
	</div>
</div>
{{/ ctaBanner }}