<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #3b7840;"></span>
		<span class="sg-label">$green: #3b7840;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #15561a;"></span>
		<span class="sg-label">$green-dark: #15561a;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #3b7840;"></span>
		<span class="sg-label">$green-light: #6bc04b;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e9bd1d;"></span>
		<span class="sg-label">$gold: #e9bd1d</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d8ae15;"></span>
		<span class="sg-label">$gold-dark: #d8ae15</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ebc434;"></span>
		<span class="sg-label">$gold-light: #ebc434</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e63b0d;"></span>
		<span class="sg-label">$orange: #e63b0d</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #c14903;"></span>
		<span class="sg-label">$orange-2: #c14903</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">$white; #ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f9f9f9;"></span>
		<span class="sg-label">$gray-light: #f9f9f9</span>
	</li>
	
	<li>
		<span class="sg-swatch" style="background: #eee;"></span>
		<span class="sg-label">$gray-light-2: #eee</span>
	</li>
	
	<li>
		<span class="sg-swatch" style="background: #ddd;"></span>
		<span class="sg-label">$gray-light-3: #ddd</span>
	</li>
	
	<li>
		<span class="sg-swatch" style="background: #bbb;"></span>
		<span class="sg-label">$gray-light-4: #bbb</span>
	</li>
	
	<li>
		<span class="sg-swatch" style="background: #c5c5c5;"></span>
		<span class="sg-label">$gray-light-5: #c5c5c5</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #808080;"></span>
		<span class="sg-label">#808080</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #666;"></span>
		<span class="sg-label">$gray-med : #666;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #555;"></span>
		<span class="sg-label">$gray-med-2 : #555;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333;"></span>
		<span class="sg-label">$gray-dark : #333;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #131313;"></span>
		<span class="sg-label">$gray-dark : #131313;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #171303;"></span>
		<span class="sg-label">$black #171303</span>
	</li>
</ul>