<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #3b7840;"></span>
		<span class="sg-label">$green: #3b7840;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #15561a;"></span>
		<span class="sg-label">$green-dark: #15561a;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #3b7840;"></span>
		<span class="sg-label">$green-light: #6bc04b;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e9bd1d;"></span>
		<span class="sg-label">$gold: #e9bd1d</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d8ae15;"></span>
		<span class="sg-label">$gold-dark: #d8ae15</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ebc434;"></span>
		<span class="sg-label">$gold-light: #ebc434</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #808080;"></span>
		<span class="sg-label">#808080</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
</ul>